<%= form_for :animal, :url => create_dog_path do |f| %>
    <div class="form-group">
      <p>
        <%= f.label "Naam" %>
        <%= f.text_field :name %>
      </p>

      <%= f.fields_for :dog do |d| %>
          <p>
            <%= d.label "Ras" %><br />
            <%= d.text_field :breed %>
          </p>
          <p>
            <%= d.check_box :children %>
            <%= d.label "Kan met kinderen omgaan" %><br />
          </p>
          <p>
            <%= d.check_box :cats %>
            <%= d.label "Kan met katten omgaan"  %><br />

          </p>
          <p>
            <%= d.check_box :other_dogs %>
            <%= d.label "Kan omgaan met andere honden" %><br />

          </p>
      <% end %>
      <p>
        <%= f.label :birthdate %>
        <%= f.date_field :birthdate, :class => 'datepicker'%>
      </p>

      <!--<p>-->
        <!--<%= f.submit %>-->
      <!--</p>-->
      <%= f.submit "Opslaan", :id => "saveDog", :class => "btn waves-effect waves-light right" do %>
          Save<i class="mdi-content-save right"></i>
      <% end %>
    </div>

<% end %>
<script type="text/javascript">
  $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 75, // Creates a dropdown of 15 years to control year
    max: true
  });

</script>