<%= form_for :tag, :url => create_tag_path do |f| %>
    <div class="form-group">
      <p>
        <%= f.label "Naam" %>
        <%= f.text_field :name %>
      </p>


      <!--<p>-->
      <!--<%= f.submit %>-->
      <!--</p>-->
      <%= f.submit "Opslaan", :id => "saveDog", :class => "btn waves-effect waves-light right" do %>
          Save<i class="mdi-content-save right"></i>
      <% end %>
    </div>

<% end %>
<script type="text/javascript">
  $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 75, // Creates a dropdown of 15 years to control year
    max: true
  });

</script>