<header id="imagebackground">
	<div id="container">
		<div id="contentAuthentication">

			<div class="container">
		        <div class="card card-container">
		            <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
		            <p id="profile-name" class="profile-name-card"></p>
		            <p class="flash">
		              <%= flash.alert %>
		            </p>

					<%= form_for(@user, :html => {class: 'form-signin'}) do |u| %>

						<% if @user.errors.any? %>
						    <div id="error_explanation">
								<p>
						      		<% @user.errors.full_messages.each do |message| %>
						        		<span><%= message %></span><br />
						      		<% end %>
						  		</p>
						    </div>
						<% end %>

						<%= u.text_field :firstname, :id => "inputFirstname", :class => "form-control", :placeholder => "First name", :required => true, :autofocus => true %>
		                <%= u.text_field :lastname, :id => "inputLastname", :class => "form-control", :placeholder => "Last name", :required => true, :autofocus => true %>
		                <%= u.text_field :email, :id => "inputEmail", :class => "form-control", :placeholder => "Email address", :required => true, :autofocus => true %>
		                <%= u.password_field :password, :id => "inputPassword", :class => "form-control", :placeholder => "Password", :required => true  %>
		                <%= u.password_field :password_confirmation, :id => "inputPasswordConfirm", :class => "form-control", :placeholder => "Confirm password", :required => true  %>
		                <div id="remember" class="checkbox">
                            <label>
                                <%= u.check_box :terms_of_service %> I agree with the <a href="#TermsOfAgreementModal" data-toggle="modal" class="termsofagreement">general agreements</a>
                            </label>
                        </div>
		               	<%= submit_tag "Sign up", :class => "btn btn-lg btn-primary btn-block btn-signin" %>
					<% end %>
		        </div><!-- /card-container -->
	        </div>

		</div>
		  <div id="footer">
		        <%= render "layouts/footer" %>
		  </div>
	</div>
</header>

    <!-- Modal HTML -->
    <div id="TermsOfAgreementModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Terms of agreement</h4>
                </div>
                <div class="modal-body">
                    <p>This section will contain a complete list of legal information, expressing we will not be held accountable for anything happening to the animals.</p>
                    <p class="text-warning"><small>This could be a warning of some sorts.</small></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>