<%= stylesheet_link_tag "application", params[:controller], :media => "all" %>

  <!-- START CONTENT -->
      <section id="content">        

        <!--start container-->
        <div class="container">

          <div id="profile-page" class="section">
            <!-- profile-page-header -->
            <div id="profile-page-header" class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="http://demo.geekslabs.com/materialize/v2.1/layout03/images/user-profile-bg.jpg" alt="user background">                    
                </div>
                <figure class="card-profile-image circle z-depth-2 responsive-img activator" style="background: url(<%= user_avatar() %>) 50% 50% no-repeat; width: 110px; height: 110px; background-size:cover;">
                </figure>
                <div class="card-content">
                  <div class="row">                    
                    <div class="col s3 offset-s2 personName">                        
                        <h4 class="card-title grey-text text-darken-4">
                          <%= current_user.firstname + ' ' + current_user.lastname %>
                        </h4>
                        <p class="medium-small grey-text">Premium user</p>                        
                    </div>         		
                    <div class="col s2 offset-s2 center-align">
                        <h4 class="card-title grey-text text-darken-4">0</h4>
                        <p class="medium-small grey-text">Dogs</p>                        
                    </div>   
                    <div class="col s2 center-align">
                        <h4 class="card-title grey-text text-darken-4">10+</h4>
                        <p class="medium-small grey-text">Walking Experience</p>                        
                    </div>             
                    <div class="col s1 center-align">
                      <a class="btn-floating activator waves-effect waves-light darken-2 right">
                          <i class="mdi-action-perm-identity"></i>
                      </a>
                    </div>            
                    <div class="col s1 right-align editBtnHeader">
                      <%= link_to edit_settings_path, :class => 'btn-floating waves-effect waves-light darken-2 right' do %>
                        <i class="mdi-image-edit"></i>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class="card-reveal">
                    <p> 
                      <span class="card-title grey-text text-darken-4"><%= current_user.firstname + ' ' + current_user.lastname %> <i class="mdi-navigation-close right"></i></span>  
                      <span><i class="mdi-action-perm-identity cyan-text text-darken-2"></i> Premium user</span>
                    </p>

                    <p><%= current_user.description %></p>
                    
                    <p><i class="mdi-action-perm-phone-msg cyan-text text-darken-2"></i> <%= current_user.phone %></p>
                    <p><i class="mdi-communication-email cyan-text text-darken-2"></i> <%= current_user.email %></p>
                    <p><i class="mdi-social-cake cyan-text text-darken-2"></i> 
                      <% if current_user.birthdate %>
                        <%= current_user.birthdate.to_formatted_s(:long_ordinal) %>
                      <% end %>
                    </p>
                    <!--<p class="editBtn"> 
                      <a class="btn-floating waves-effect waves-light darken-2 left">
                          <i class="mdi-image-edit"></i>
                      </a>
					</p>-->
                </div>
            </div>
            <!--/ profile-page-header -->

            <!-- profile-page-content -->
            <div id="profile-page-content" class="row">
              <!-- profile-page-sidebar-->
              <div id="profile-page-sidebar" class="col s12 m4">
                <!-- Profile About  -->
                <div class="card light-blue">
                  <div class="card-content white-text">
                    <span class="card-title">About Me!</span>
                    <p class="truncate"><%= current_user.description %></p>
                  </div>                  
                </div>
                <!-- Profile About  -->

                <!-- Profile About Details  -->
                <ul id="profile-page-about-details" class="collection z-depth-1">
                  <li class="collection-item">
                    <div class="row">
                      <div class="col s5 grey-text darken-1"><i class="mdi-action-wallet-travel"></i> Area</div>
                      <div class="col s7 grey-text text-darken-4 right-align">Coast</div>
                    </div>
                  </li>
                  <li class="collection-item">
                    <div class="row">
                      <div class="col s5 grey-text darken-1"><i class="mdi-social-poll"></i> Skills</div>
                      <div class="col s7 grey-text text-darken-4 right-align"> Dog walking/training</div>
                    </div>
                  </li>
                  <li class="collection-item">
                    <div class="row">
                      <div class="col s5 grey-text darken-1"><i class="mdi-social-domain"></i> Lives in</div>
                      <div class="col s7 grey-text text-darken-4 right-align"><%= current_user.address.try(:city).try(:name) %>, <%= current_user.address.try(:country).try(:ISO) %></div>
                    </div>
                  </li>
                  <li class="collection-item">
                    <div class="row">
                      <div class="col s5 grey-text darken-1"><i class="mdi-social-cake"></i> Birth date</div>
                      <div class="col s7 grey-text text-darken-4 right-align">
                      <% if current_user.birthdate %>
                        <%= current_user.birthdate.to_formatted_s(:long_ordinal) %>
                      <% end %>
                    </div>
                    </div>
                  </li>
                </ul>
                <!--/ Profile About Details  -->

                <!-- Profile About  -->
                <div class="card amber darken-2">
                  <div class="card-content white-text center-align">
                    <p class="card-title"><i class="mdi-social-group-add"></i> 2</p>
                    <p>Connections</p>
                  </div>                  
                </div>
                <!-- Profile About  -->

                <!-- Profile feed  -->
			 <ul class="collection z-depth-1 with-header hoverable">
				<li class="collection-header"><strong>Planning</strong></li>
				<li class="collection-item avatar">
				  <img src="assets/lake-animals-dogs-pets.jpg" alt="" class="circle">
				  <img src="https://www.peepl.be/static/images/team/ayrton.jpg" class="circle top-circle font-size:0.5em;" style="position:absolute; left:40px; top: 3px; color:#ffc107;" >
				  <span class="title truncate"><strong>Coming</strong> for a walk with Zara</span>
				  <p class="truncate"><i>Ayrton Vercruysse</i><br>
					18:00 - 19:00
				  </p>
				  <a href="#!" class="secondary-content">Today</a>
				</li>
				<li class="collection-item avatar">
				  <img src="http://bebusinessed.com/wp-content/uploads/2014/03/734899052_13956580111.jpg" alt="" class="circle">
				  <span class="title truncate"><strong>Going</strong> for a walk with Blacky</span>
				  <p class="truncate"><i>@ Aaron Bakker</i><br>
					10:00 - 11:00
				  </p>
				  <a href="#!" class="secondary-content">Saturday</a>
				</li>
			  </ul>
			
                <!-- Profile feed  -->



                <!-- Map Card -->
                <div class="map-card">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <div id="map-canvas" data-lat="51.312374" data-lng="3.132768"></div>
                        </div>
                        <div class="card-content">                    
                            <a class="btn-floating btn-move-up waves-effect waves-light darken-2 right" href="javascript:ShowGeoLocation()" onclick="javascript:ShowGeoLocation()">
                                <i class="mdi-maps-pin-drop"></i>
                            </a>
                            <h4 class="card-title grey-text text-darken-4">
                              <% if current_user.address %>
                                <%= current_user.address.try(:city).try(:name) %>
                              <% elsif %>
                                <%= "Unknown" %>
                              <% end %>
                            </h4>
                            <p class="blog-post-content">Indication of where this person lives.</p>
                        </div>
                    </div>
                </div>
                <!-- Map Card -->

              </div>
              <!-- profile-page-sidebar-->

              <!-- profile-page-wall -->
              <div id="profile-page-wall" class="col s12 m8">
                <!-- profile-page-wall-share -->
                <div id="profile-page-wall-share" class="row">
                  <div class="col s12">
                    <ul class="tabs tab-profile z-depth-1 light-blue">
                      <li class="tab col s3"><a class="white-text waves-effect waves-light active" href="#UpdateStatus"><i class="mdi-editor-border-color"></i> Update Status</a>
                      </li>
                      <li class="tab col s3"><a class="white-text waves-effect waves-light" href="#AddPhotos"><i class="mdi-image-camera-alt"></i> Add Photos</a>
                      </li>
                      <li class="tab col s3"><a class="white-text waves-effect waves-light" href="#CreateRoute"><i class="mdi-maps-map"></i> Create Route</a>
                      </li>                      
                    </ul>
                    <!-- UpdateStatus-->
                    <div id="UpdateStatus" class="tab-content col s12  grey lighten-4">
                      <div class="row">
                        <div class="col s2 circle responsive-img valign profile-image-post" style="background: url(<%= user_avatar() %>) 50% 50% no-repeat; width: 60px; height: 60px; background-size:cover;">
                        </div>
                        <div class="input-field col s10">
                          <textarea id="textarea" row="2" class="materialize-textarea"></textarea>
                          <label for="textarea" class="">What's on your mind?</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col s12 m6 share-icons">
                          <a href="#"><i class="mdi-image-camera-alt"></i></a>
                          <a href="#"><i class="mdi-action-account-circle"></i></a>
                          <a href="#"><i class="mdi-hardware-keyboard-alt"></i></a>
                          <a href="#"><i class="mdi-communication-location-on"></i></a>
                        </div>
                        <div class="col s12 m6 right-align">
                           <!-- Dropdown Trigger -->
                            <!--<a class='dropdown-button btn' href='#' data-activates='profliePost'><i class="mdi-action-language"></i> Public</a>-->

                            <!-- Dropdown Structure -->
                            <!--<ul id='profliePost' class='dropdown-content'>
                              <li><a href="#!"><i class="mdi-action-language"></i> Public</a></li>
                              <li><a href="#!"><i class="mdi-action-face-unlock"></i> Friends</a></li>                              
                              <li><a href="#!"><i class="mdi-action-lock-outline"></i> Only Me</a></li>
                            </ul>-->

                            <a class="waves-effect waves-light btn btnProfilePost"><i class="mdi-maps-rate-review left"></i>Post</a>
                        </div>
                      </div>
                    </div>
                    <!-- AddPhotos -->
                    <div id="AddPhotos" class="tab-content col s12  grey lighten-4">
                      <div class="row">
                        <div class="col s2 circle responsive-img valign profile-image-post" style="background: url(<%= user_avatar() %>) 50% 50% no-repeat; width: 60px; height: 60px; background-size:cover;">
                        </div>
                        <div class="input-field col s10">
                          <textarea id="textarea" row="2" class="materialize-textarea"></textarea>
                          <label for="textarea" class="">Share your favourites photos!</label>
                        </div>
						 <form action="#" class="input-field col s10 offset-s2 photoSelectField">
						  <div class="file-field input-field">
							<div class="btn">
							  <span>File</span>
							  <input type="file">
							</div>
							<div class="file-path-wrapper">
							  <input class="file-path validate" type="text">
							</div>
						  </div>
						</form>
                      </div>
                      <div class="row">
                        <div class="col s12 m6 share-icons">
                          <a href="#"><i class="mdi-image-camera-alt"></i></a>
                          <a href="#"><i class="mdi-action-account-circle"></i></a>
                          <a href="#"><i class="mdi-hardware-keyboard-alt"></i></a>
                          <a href="#"><i class="mdi-communication-location-on"></i></a>
                        </div>
                        <div class="col s12 m6 right-align">
                           <!-- Dropdown Trigger -->
                            <!--<a class='dropdown-button btn' href='#' data-activates='profliePost2'><i class="mdi-action-language"></i> Public</a>-->

                            <!-- Dropdown Structure -->
                            <!--<ul id='profliePost2' class='dropdown-content'>
                              <li><a href="#!"><i class="mdi-action-language"></i> Public</a></li>
                              <li><a href="#!"><i class="mdi-action-face-unlock"></i> Friends</a></li>                              
                              <li><a href="#!"><i class="mdi-action-lock-outline"></i> Only Me</a></li>
                            </ul>-->

                            <a class="waves-effect waves-light btn btnProfilePost"><i class="mdi-maps-rate-review left"></i>Post</a>
                        </div>
                      </div>
                    </div>
                    <!-- CreateRoute -->
                    <div id="CreateRoute" class="tab-content col s12  grey lighten-4">
                      <div class="row">
                        <div class="col s2 circle responsive-img valign profile-image-post" style="background: url(<%= user_avatar() %>) 50% 50% no-repeat; width: 60px; height: 60px; background-size:cover;">
                        </div>
                        <div class="input-field col s10">
                          <textarea id="textarea" row="2" class="materialize-textarea"></textarea>
                          <label for="textarea" class="">Add your favourite routes.</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col s12 m6 share-icons">
                          <a href="#"><i class="mdi-image-camera-alt"></i></a>
                          <a href="#"><i class="mdi-action-account-circle"></i></a>
                          <a href="#"><i class="mdi-hardware-keyboard-alt"></i></a>
                          <a href="#"><i class="mdi-communication-location-on"></i></a>
                        </div>
                        <div class="col s12 m6 right-align">
                           <!-- Dropdown Trigger -->
                            <!--<a class='dropdown-button btn' href='#' data-activates='profliePost3'><i class="mdi-action-language"></i> Public</a>-->

                            <!-- Dropdown Structure -->
                            <!--<ul id='profliePost3' class='dropdown-content'>
                              <li><a href="#!"><i class="mdi-action-language"></i> Public</a></li>
                              <li><a href="#!"><i class="mdi-action-face-unlock"></i> Friends</a></li>                              
                              <li><a href="#!"><i class="mdi-action-lock-outline"></i> Only Me</a></li>
                            </ul>-->

                            <a class="waves-effect waves-light btn btnProfilePost"><i class="mdi-maps-rate-review left"></i>Post</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!--/ profile-page-wall-share -->

                <!-- profile-page-wall-posts -->
                <div id="profile-page-wall-posts" class="row">
                  <div class="col s12">
                      <!-- medium -->
                      <div id="profile-page-wall-post" class="card">
                        <div class="card-profile-title">
                          <div class="row">
                            <div class="col s1 circle responsive-img valign profile-post-uer-image" style="background: url(<%= user_avatar() %>) 50% 50% no-repeat; width: 33px; height: 33px; background-size:cover; margin-left: 10px; margin-top:5px;">                        
                            </div>
                            <div class="col s10 profile-post-name">
                              <p class="grey-text text-darken-4 margin">John Doe</p>
                              <span class="grey-text text-darken-1 ultra-small">Shared publicly  -  26 Jun 2015</span>
                            </div>
                            <div class="col s1 right-align">
                              <i class="mdi-navigation-expand-more"></i>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col s12">
                              <p>I am a very simple wall post. I am good at containing <a href="#">#small</a> bits of <a href="#">#information</a>.  I require little more information to use effectively.</p>
                            </div>
                          </div>
                        </div>
                        <div class="card-image profile-medium">                          
                          <img src="assets/sunrise-666524_1920.jpg" alt="sample" class="responsive-img profile-post-image profile-medium">                        
                          <span class="card-title">Card Title</span>
                        </div>
                        <div class="card-content">
                          <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action row">
                          <div class="col s4 card-action-share">
                            <a href="#">Like</a>                          
                            <a href="#">Share</a>
                          </div>
                          
                          <div class="input-field col s8 margin">
                            <input id="profile-comments" type="text" class="validate margin">
                            <label for="profile-comments" class="">Comments</label>
                          </div>                        
                        </div>                        
                      </div>

                      <!-- medium video -->
                      <div id="profile-page-wall-post" class="card">
                        <div class="card-profile-title">
                          <div class="row">
                            <div class="col s1 circle responsive-img valign profile-post-uer-image" style="background: url(<%= user_avatar() %>) 50% 50% no-repeat; width: 33px; height: 33px; background-size:cover; margin-left: 10px; margin-top:5px;">                        
                            </div>
                            <div class="col s10 profile-post-name">
                              <p class="grey-text text-darken-4 margin">John Doe</p>
                              <span class="grey-text text-darken-1 ultra-small">Shared publicly  -  26 Jun 2015</span>
                            </div>
                            <div class="col s1 right-align">
                              <i class="mdi-navigation-expand-more"></i>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col s12">
                              <p>I am a very simple wall post. I am good at containing <a href="#">#small</a> bits of <a href="#">#information</a>.  I require little more information to use effectively.</p>
                            </div>
                          </div>
                        </div>
                        <div class="card-image profile-medium">
                          <div class="video-container no-controls">
                            <iframe width="640" height="360" src="https://www.youtube.com/embed/10r9ozshGVE" frameborder="0" allowfullscreen></iframe>
                          </div>                          
                          <span class="card-title">Card Title</span>
                        </div>
                        <div class="card-content">
                          <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action row">
                          <div class="col s4 card-action-share">
                            <a href="#">Like</a>                          
                            <a href="#">Share</a>
                          </div>
                          
                          <div class="input-field col s8 margin">
                            <input id="profile-comments" type="text" class="validate margin">
                            <label for="profile-comments" class="">Comments</label>
                          </div>                        
                        </div>                        
                      </div>                      

                      <!-- small -->
                      <div id="profile-page-wall-post" class="card">
                        <div class="card-profile-title">
                          <div class="row">
                            <div class="col s1 circle responsive-img valign profile-post-uer-image" style="background: url(<%= user_avatar() %>) 50% 50% no-repeat; width: 33px; height: 33px; background-size:cover; margin-left: 10px; margin-top:5px;">                        
                            </div>
                            <div class="col s10 profile-post-name">
                              <p class="grey-text text-darken-4 margin">John Doe</p>
                              <span class="grey-text text-darken-1 ultra-small">Shared publicly  -  26 Jun 2015</span>
                            </div>
                            <div class="col s1 right-align">
                              <i class="mdi-navigation-expand-more"></i>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col s12">
                              <p>I am a very simple wall post. I am good at containing <a href="#">#small</a> bits of <a href="#">#information</a>.  I require little more information to use effectively.</p>
                            </div>
                          </div>
                        </div>
                        <div class="card-image profile-small">
                          <img src="assets/bench-sea-sunny-man.jpg" alt="sample" class="responsive-img profile-post-image">                        
                          <span class="card-title">Card Title</span>
                        </div>
                        <div class="card-content">
                          <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action row">
                          <div class="col s4 card-action-share">
                            <a href="#">Like</a>                          
                            <a href="#">Share</a>
                          </div>
                          
                          <div class="input-field col s8 margin">
                            <input id="profile-comments" type="text" class="validate">
                            <label for="profile-comments" class="">Comments</label>
                          </div>                        
                        </div>                        
                      </div>

                      <!-- small -->
                      <div id="profile-page-wall-post" class="card">
                        <div class="card-profile-title">
                          <div class="row">
                            <div class="col s1 circle responsive-img valign profile-post-uer-image" style="background: url(<%= user_avatar() %>) 50% 50% no-repeat; width: 33px; height: 33px; background-size:cover; margin-left: 10px; margin-top:5px;">                        
                            </div>
                            <div class="col s10 profile-post-name">
                              <p class="grey-text text-darken-4 margin">John Doe</p>
                              <span class="grey-text text-darken-1 ultra-small">Shared publicly  -  26 Jun 2015</span>
                            </div>
                            <div class="col s1 right-align">
                              <i class="mdi-navigation-expand-more"></i>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col s12">
                              <p>I am a very simple wall post. I am good at containing <a href="#">#small</a> bits of <a href="#">#information</a>.  I require little more information to use effectively.</p>
                            </div>
                          </div>
                        </div>
                        <div class="card-image profile-large">
                          <img src="assets/lake-animals-dogs-pets.jpg" alt="sample" class="responsive-img profile-post-image">                        
                          <span class="card-title">Card Title</span>
                        </div>
                        <div class="card-content">
                          <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action row">
                          <div class="col s4 card-action-share">
                            <a href="#">Like</a>                          
                            <a href="#">Share</a>
                          </div>
                          
                          <div class="input-field col s8 margin">
                            <input id="profile-comments" type="text" class="validate">
                            <label for="profile-comments" class="">Comments</label>
                          </div>                        
                        </div>                        
                      </div>
                  </div>                  
                </div>
                <!--/ profile-page-wall-posts -->

              </div>
              <!--/ profile-page-wall -->

            </div>
          </div>
        </div>
        
        <!--end container-->
      </section>
      <!-- END CONTENT -->

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAAZnaZBXLqNBRXjd-82km_NO7GUItyKek"></script>
      <script type="text/javascript">
          ShowGeoLocation();

          function ShowGeoLocation() {
            var street = "<%= current_user.address.try(:street) %>" + "";
            var city = "<%= current_user.address.try(:city).try(:name) %>" + "";
            var country = "<%= current_user.address.try(:country).try(:name) %>" + "";
            var address = street + ', ' + city + ', ' + country;
            if (address === "0, 0, 0")
            {
              address = "Brussel, Belgium";
            }
            var geocoder = new google.maps.Geocoder();
            
            var map = new google.maps.Map(document.getElementById('map-canvas'), {
              zoom: 10,
              center: {lat: 51.309553, lng: 3.132350},
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                mapTypeControl: false,
                scrollwheel: true,
                draggable: true,
              styles: [{"featureType":"landscape.natural","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#e0efef"}]},{"featureType":"poi","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"hue":"#1900ff"},{"color":"#c0e8e8"}]},{"featureType":"road","elementType":"geometry","stylers":[{"lightness":100},{"visibility":"simplified"}]},{"featureType":"road","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"transit.line","elementType":"geometry","stylers":[{"visibility":"on"},{"lightness":700}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#7dcdcd"}]}],
              mapTypeControlOptions: {style: google.maps.MapTypeControlStyle.DROPDOWN_MENU},
              navigationControl: false,
              navigationControlOptions: {style: google.maps.NavigationControlStyle.SMALL}
            });

            geocodeAddress(address, geocoder, map);
          };


          function geocodeAddress(address, geocoder, resultsMap) {
            geocoder.geocode({'address': address}, function(results, status) {
              if (status === google.maps.GeocoderStatus.OK) {
                resultsMap.setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker({
                  map: resultsMap,
                  position: results[0].geometry.location
                });
              } else {
                alert('Geocode was not successful for the following reason: ' + status);
              }
            })
          };
      </script>