<%= stylesheet_link_tag "application", params[:controller], :media => "all" %>

<!-- START CONTENT -->
<section id="content">

    <!--start container-->
    <div class="container">

        <div id="profile-page" class="section">
            <!-- profile-page-header -->
            <div id="profile-page-header" class="card hide-on-med-and-down">
                <div class="card-image waves-effect waves-block waves-light showProfileDetails">
                    <div id="add_connection_button_large">
                        <%= render template: "users/show_add_connection" %>
                    </div>
                    <img class="activator showProfileDetails" src="<%= load_user_banner($show_user) %>" alt="user background">
                </div>
                <figure class="card-profile-image circle z-depth-2 responsive-img activator showProfileDetails" style="background: url(<%= load_user_avatar($show_user) %>) 50% 50% no-repeat; width: 110px; height: 110px; background-size:cover;">
                </figure>
                <div class="card-content">
                    <div class="row">
                        <div class="col s3 offset-s2 personName">
                            <h4 class="card-title grey-text text-darken-4">
                                <%= $show_user.firstname + ' ' + $show_user.lastname %>
                            </h4>
                            <% if $show_user.is_premium %>
                                <p class="medium-small grey-text"><%= I18n.t('views.user.show.premiumuser') %></p>
                            <% elsif ($show_user.id == current_user.id) %>
                                <p class="medium-small grey-text"><%= I18n.t('views.user.show.becomepremium1') %><a href="#"><%= I18n.t('views.user.show.becomepremium2') %></a><%= I18n.t('views.user.show.becomepremium3') %></p>
                            <% end %>
                        </div>
                        <div class="col s2 offset-s2 center-align">
                            <h4 class="card-title grey-text text-darken-4">0</h4>
                            <p class="medium-small grey-text">Dogs</p>
                        </div>
                        <div class="col s2 center-align">
                            <h4 class="card-title grey-text text-darken-4">10+</h4>
                            <p class="medium-small grey-text">Walking Experience</p>
                        </div>
                        <div class="col s1 center-align">
                            <a class="btn-floating activator waves-effect waves-light darken-2 right showProfileDetails">
                                <i class="mdi-action-perm-identity"></i>
                            </a>
                        </div>
                        <% if $show_user.id == current_user.id %>
                            <div class="col s1 right-align editBtnHeader">
                                <%= link_to edit_settings_path, :class => 'btn-floating waves-effect waves-light darken-2 right' do %>
                                    <i class="mdi-image-edit"></i>
                                <% end %>
                            </div>
                        <% end %>
                    </div>
                </div>
                <div class="card-reveal" style="top: 99%">
                    <div>
                        <p>
                            <span class="card-title grey-text text-darken-4 HideGoogleMapsTitle"><%= $show_user.firstname + ' ' + $show_user.lastname %> <i class="mdi-navigation-close right"></i></span>
                            <% if $show_user.is_premium %>
                                <span><i class="mdi-action-perm-identity cyan-text text-darken-2"></i> <%= I18n.t('views.user.show.premiumuser') %></span>
                            <% end %>
                        </p>
                        <div style="float:left; max-width:49%">
                            <p><%= $show_user.description %></p>

                            <p><i class="mdi-action-perm-phone-msg cyan-text text-darken-2"></i> <%= $show_user.phone %></p>
                            <p><i class="mdi-communication-email cyan-text text-darken-2"></i> <%= $show_user.email %></p>
                            <p>
                                <i class="mdi-social-cake cyan-text text-darken-2"></i>
                                <% if $show_user.birthdate %>
                                    <%= $show_user.birthdate.to_formatted_s(:long_ordinal) %>
                                <% end %>
                            </p>
                        </div>

                        <div style="float:right; margin-left:10%; width: 50%; display:none;" id="GoogleMapsDiv">
                            <div class="card" style="position: absolute; width: 45%; top: 10%; right: 5%; z-index:1;">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <div id="map-canvas" data-lat="51.312374" data-lng="3.132768" style="height:100%;"></div>
                                </div>
                                <div class="card-content" style="padding: 10px; margin-top:-60px;">
                                    <a class="btn-floating btn-move-up waves-effect waves-light darken-2 right" href="javascript:ShowGeoLocation()" onclick="javascript:ShowGeoLocation()">
                                        <i class="mdi-maps-pin-drop"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Mobile version below -->
            <div id="profile-page-header" class="card hide-on-large-only">
                <div class="card-image waves-effect waves-block waves-light showProfileDetails" style="height:auto;max-height:250px;padding-bottom:40px;">
                    <div id="add_connection_button_medium_and_down">
                        <%= render template: "users/show_add_connection" %>
                    </div>
                    <div class="col s1 center-align" style="position: absolute; bottom: 22px; right: 15px; z-index: 1;">
                        <a class="btn-floating activator waves-effect waves-light darken-2 right showProfileDetails" style="margin:0px !important;">
                            <i class="mdi-action-perm-identity"></i>
                        </a>
                    </div>
                    <% if $show_user.id == current_user.id %>
                        <div class="col s1 right-align editBtnHeader" style="position: absolute; bottom: 22px; right: 65px; z-index: 1;">
                            <%= link_to edit_settings_path, :class => 'btn-floating waves-effect waves-light darken-2 right', :style => 'margin:0px !important;' do %>
                                <i class="mdi-image-edit"></i>
                            <% end %>
                        </div>
                    <% end %>
                    <figure class="card-profile-image circle z-depth-2 responsive-img activator showProfileDetails" style="background: url(<%= load_user_avatar($show_user) %>) 50% 50% no-repeat; width: 110px; height: 110px; background-size:cover; bottom: 20px !important; top:auto !important;">
                    </figure>
                    <img class="activator showProfileDetails" style="height:150px;" src="<%= load_user_banner($show_user) %>" alt="user background">
                </div>
                <div class="card-content">
                    <div class="row">
                        <div class="col s7 personName" style="margin-left: 0px !important;">
                            <h4 class="card-title grey-text text-darken-4" style="line-height:30px;">
                                <%= $show_user.firstname + ' ' + $show_user.lastname %>
                            </h4>
                        </div>
                        <div class="col s2 center-align">
                            <h4 class="card-title grey-text text-darken-4" style="margin-bottom:0px;">0</h4>
                            <p class="medium-small grey-text">Dogs</p>
                        </div>
                        <div class="col s2 center-align">
                            <h4 class="card-title grey-text text-darken-4" style="margin-bottom:0px;">10+</h4>
                            <p class="medium-small grey-text">Walking Experience</p>
                        </div>
                    </div>
                    <div class="row" style="padding-left:10px; padding-top:10px;">
                        <% if $show_user.is_premium %>
                            <p class="medium-small grey-text"><%= I18n.t('views.user.show.premiumuser') %></p>
                        <% elsif ($show_user.id == current_user.id) %>
                            <p class="medium-small grey-text"><%= I18n.t('views.user.show.becomepremium1') %><a href="#"><%= I18n.t('views.user.show.becomepremium2') %></a><%= I18n.t('views.user.show.becomepremium3') %></p>
                        <% end %>
                    </div>
                </div>
                <div class="card-reveal" style="top: 99%">
                    <div>
                        <p>
                            <span class="card-title grey-text text-darken-4 HideGoogleMapsTitle"><%= $show_user.firstname + ' ' + $show_user.lastname %> <i class="mdi-navigation-close right"></i></span>
                            <% if $show_user.is_premium %>
                                <span><i class="mdi-action-perm-identity cyan-text text-darken-2"></i> <%= I18n.t('views.user.show.premiumuser') %></span>
                            <% end %>
                        </p>
                        <div>
                            <p><%= $show_user.description %></p>
                            <% if current_user.id == $show_user.id %>
                                <p><i class="mdi-action-perm-phone-msg cyan-text text-darken-2"></i> <%= $show_user.phone %></p>
                                <p><i class="mdi-communication-email cyan-text text-darken-2"></i> <%= $show_user.email %></p>
                            <% end %>
                            <% if current_user.id == $show_user.id || current_user.connections.include?($show_user) %>
                            <p>
                                <i class="mdi-social-cake cyan-text text-darken-2"></i>
                                <% if $show_user.birthdate %>
                                    <%= $show_user.birthdate.to_formatted_s(:long_ordinal) %>
                                <% end %>
                            </p>
                            <% end %>
                        </div>

                        <div id="GoogleMapsDiv">
                            <div class="card">
                                <div class="card-image waves-block waves-light">
                                    <div id="map-canvas-small" data-lat="51.312374" data-lng="3.132768" style="height:100%;"></div>
                                </div>
                                <div class="card-content" style="padding: 10px; margin-top:-60px;">
                                    <a class="btn-floating btn-move-up waves-effect waves-light darken-2 right" style="margin:0px !important;" href="javascript:ShowGeoLocation()" onclick="javascript:ShowGeoLocation()">
                                        <i class="mdi-maps-pin-drop"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ profile-page-header -->
            <!-- profile-page-content -->
            <div id="profile-page-content" class="row">
                <div class=" col s4 m4">
                    <div class="card light-blue hoverable">
                        <div class="card-content white-text center">
                            <span class="card-title"><i class="fa fa-paw" aria-hidden="true"></i> <span class="hide-on-small-only"><%= I18n.t('views.user.dogs') %></span></span>
                        </div>
                    </div>
                </div>
                <div class=" col s4 m4">
                    <div class="card light-blue hoverable">
                        <div class="card-content white-text center">
                            <span class="card-title"><i class="fa fa-map-marker" aria-hidden="true"></i> <span class="hide-on-small-only"><%= I18n.t('views.user.routes') %></span></span>
                        </div>
                    </div>
                </div>
                <div class=" col s4 m4">
                    <div class="card light-blue hoverable">
                        <div class="card-content white-text center">
                            <span class="card-title"><i class="fa fa-newspaper-o" aria-hidden="true"></i> <span class="hide-on-small-only"><%= I18n.t('views.user.activities') %></span></span>

                        </div>
                    </div>
                </div>
            </div>
            <div id="profile-page-content" class="row">
                <!-- profile-page-sidebar-->
                <div id="profile-page-sidebar" class="col s12 m4">

                    <!-- Profile About Details  -->
                    <ul id="profile-page-about-details" class="collection z-depth-1 hoverable">
                        <% if $show_user.is_walker %>
                            <li class="collection-item">
                                <div class="row">
                                    <div class="col s7 grey-text darken-1"><i class="fa fa-star" aria-hidden="true"></i> <%= I18n.t('views.user.show.rating') %> [1]</div>
                                    <div class="col s5 grey-text text-darken-4 right-align">
                                        <i class="material-icons right" style=" color:#ffc107;">star&zwnj;star&zwnj;star&zwnj;star_half&zwnj;star_border</i>
                                    </div>
                                </div>
                            </li>
                        <% end %>
                        <% if $show_user.is_walker %>
                            <li class="collection-item">
                                <div class="row">
                                    <div class="col s5 grey-text darken-1"><i class="mdi-action-wallet-travel"></i> <%= I18n.t('views.user.experience') %></div>
                                    <div class="col s7 grey-text text-darken-4 right-align">
                                        <% if $show_user.try(:experience).try(:value) %>
                                            <%= $show_user.try(:experience).try(:value) %> <%= I18n.t('views.user.year') %>
                                        <% else %>
                                            n/a
                                        <% end %>
                                    </div>
                                </div>
                            </li>
                        <% end %>
                        <li class="collection-item">
                            <div class="row">
                                <div class="col s5 grey-text darken-1"><i class="mdi-social-domain"></i> <%= I18n.t('views.user.show.livingin') %></div>
                                <div class="col s7 grey-text text-darken-4 right-align">
                                    <%= $show_user.address.try(:city).try(:name) %>
                                        <% if $show_user.address.try(:country).try(:ISO)%>,<% end %>
                                    <%= $show_user.address.try(:country).try(:ISO) %>
                                </div>
                            </div>
                        </li>
                        <% if $show_user.is_walker %>
                            <li class="collection-item">
                                <div class="row">
                                    <div class="col s6 grey-text darken-1"><i class="mdi-social-poll"></i> <%= I18n.t('views.user.skills') %></div>
                                    <div class="col s6 grey-text text-darken-4 right-align"> Dog walking/training</div>
                                </div>
                            </li>
                        <% end %>
                        <li class="collection-item">
                            <div class="row">
                                <div class="col s5 grey-text darken-1"><i class="mdi-social-cake"></i> <%= I18n.t('views.user.show.age') %></div>
                                <div class="col s7 grey-text text-darken-4 right-align">
                                    <% if $show_user.birthdate %>
                                        <%= calculateAge($show_user.birthdate) %> <%= I18n.t('views.user.year') %>
                                    <% end %>
                                </div>
                            </div>
                        </li>
                        <% if $show_user.is_walker %>
                            <li class="collection-item">
                                <div class="row">
                                    <div class="col s5 grey-text darken-1"><i class="fa fa-eur" aria-hidden="true"></i> <%= I18n.t('views.user.pricing') %></div>
                                    <div class="col s7 grey-text text-darken-4 right-align">
                                        <% if $show_user.pricing %>
                                            <% if $show_user.pricing == 'Free' %>
                                                Free
                                            <% elsif $show_user.pricing == 'TBD' %>
                                                TBD
                                            <% else %>
                                                <%= number_to_euro($show_user.pricing) %>
                                            <% end %>
                                        <% else %>
                                            TBD
                                        <% end %>
                                    </div>
                                </div>
                            </li>
                        <% end %>
                        <% if $show_user.is_walker %>
                            <li class="collection-item">
                                <div class="row">
                                    <div class="col s8 grey-text darken-1"><i class="fa fa-briefcase" aria-hidden="true"></i> <%= I18n.t('views.user.professional') %></div>
                                    <div class="col s4 grey-text text-darken-4 right-align">
                                        <%= t $show_user.professional?.to_s %>
                                    </div>
                                </div>
                            </li>
                        <% end %>
                        <% if $show_user.is_walker %>
                            <li class="collection-item">
                                <div class="row">
                                    <div class="col s5 grey-text darken-1"><i class="fa fa-heart" aria-hidden="true"></i> <%= I18n.t('views.user.preference') %></div>
                                    <div class="col s7 grey-text text-darken-4 right-align">
                                        <%= translate_preference($show_user.try(:preference).try(:name)) %>
                                    </div>
                                </div>
                            </li>
                        <% end %>

                    </ul>
                    <!--/ Profile About Details  -->
                    <!-- Connections  -->
                    <ul class="collection z-depth-1 with-header hoverable">
                        <li class="collection-header collection-PictureHeader">
                            <% if current_user.id == $show_user.id %>
                                <%= link_to user_relation_path(:id => current_user.id) do %>
                                    <div class="card amber darken-2" style="box-shadow: none; border: none;">
                                        <div class="card-content white-text center-align">
                                            <p class="card-title"><i class="mdi-social-group-add"></i> <%= $show_user.connections.count %></p>
                                            <p><%= I18n.t('views.user.connections') %></p>
                                        </div>
                                    </div>
                                <% end %>
                            <% else %>
                                <%= link_to user_relation_show_path(:uid => $show_user.id) do %>
                                    <div class="card amber darken-2" style="box-shadow: none; border: none;">
                                        <div class="card-content white-text center-align">
                                            <p class="card-title"><i class="mdi-social-group-add"></i> <%= $show_user.connections.count %></p>
                                            <p><%= I18n.t('views.user.connections') %></p>
                                        </div>
                                    </div>
                                <% end %>
                            <% end %>
                        </li>
                        <li class="collection-item">
                            <div class="row">
                                <% $show_user.connections.each do |conn| %>
                                    <div class="" style="float: left; display: inline-table; width: 33%; margin-right:0.3%; margin-bottom:0.3%">
                                        <% if conn.id == current_user.id %>
                                            <%= link_to settings_path do %>
                                                <div class="card-image waves-effect waves-block waves-light" style="background:url(<%= load_user_avatar(conn) %>) no-repeat center center; height:6rem; width:auto; background-size: cover; margin:0.6%">
                                                </div>
                                            <% end %>
                                        <% else %>
                                            <%= link_to conn do %>
                                                <div class="card-image waves-effect waves-block waves-light" style="background:url(<%= load_user_avatar(conn) %>) no-repeat center center; height:6rem; width:auto; background-size: cover; margin:0.6%">
                                                </div>
                                            <% end %>
                                        <% end %>
                                    </div>
                                <% end %>
                                <% if !$show_user.is_premium %>
                                    <% if $show_user.id == current_user.id %>
                                        <% if $show_user.connections.count >= 1 %>
                                            <%= link_to "#{}" do %>
                                                <div class="" style="float: left;display: inline-table;width: 66%;margin-right:0.3%;margin-bottom:0.3%;height:6rem;text-align:center;border-style: solid;border-width: 1px;border-color: #FF5B45;padding: 5px;">
                                                    <p style="display: table-cell; vertical-align: middle;"><%= I18n.t('views.user.show.becomepremium') %></p>
                                                </div>
                                            <% end %>
                                        <% end %>
                                    <% end %>
                                <% end %>

                            </div>
                        </li>
                    </ul>
                    <!-- End Connections  -->
                    <!-- Profile feed  -->
                    <ul class="collection z-depth-1 with-header hoverable">
                        <li class="collection-header"><strong>Planning</strong></li>
                        <li class="collection-item avatar">
                            <img src="assets/lake-animals-dogs-pets.jpg" alt="" class="circle">
                            <img src="https://www.peepl.be/static/images/team/ayrton.jpg" class="circle top-circle font-size:0.5em;" style="position:absolute; left:40px; top: 3px; color:#ffc107;">
                            <span class="title truncate"><strong>Coming</strong> for a walk with Zara</span>
                            <p class="truncate">
                                <i>Ayrton Vercruysse</i><br>
                                18:00 - 19:00
                            </p>
                            <a href="#!" class="secondary-content planningDay">Today</a>
                        </li>
                        <li class="collection-item avatar">
                            <img src="http://bebusinessed.com/wp-content/uploads/2014/03/734899052_13956580111.jpg" alt="" class="circle">
                            <span class="title truncate"><strong>Going</strong> for a walk with Blacky</span>
                            <p class="truncate">
                                <i>@ Aaron Bakker</i><br>
                                10:00 - 11:00
                            </p>
                            <a href="#!" class="secondary-content planningDay">Saturday</a>
                        </li>
                    </ul>

                    <!-- Profile feed  -->
                    <!-- Afbeeldingen About  -->

                    <ul class="collection z-depth-1 with-header hoverable">
                        <li class="collection-header collection-PictureHeader">
                            <% if current_user.id == $show_user.id %>
                                <%= link_to images_path do %>
                                    <div class="card amber darken-2" style="box-shadow: none; border: none;">
                                        <div class="card-content white-text center-align">
                                            <p class="card-title"><i class="mdi-image-camera-alt"></i></p>
                                            <p><%= I18n.t('views.user.pictures') %></p>
                                        </div>
                                    </div>
                                <% end %>
                            <% else %>
                                <%= link_to images_path(:uid => $show_user.id) do %>
                                    <div class="card amber darken-2" style="box-shadow: none; border: none;">
                                        <div class="card-content white-text center-align">
                                            <p class="card-title"><i class="mdi-image-camera-alt"></i></p>
                                            <p><%= I18n.t('views.user.pictures') %></p>
                                        </div>
                                    </div>
                                <% end %>
                            <% end %>
                        </li>
                        <li class="collection-item">
                            <div class="row">
                                <% @Pictures.each do |pic| %>
                                    <%= link_to picture_path(pic, :uid => $show_user.id) do %>
                                        <div class="" style="float: left; display: inline-table; width: 33%; margin-right:0.3%; margin-bottom:0.3%">
                                            <div class="card-image waves-effect waves-block waves-light" style="background:url(<%= pic.url %>) no-repeat center center; height:6rem; width:auto; background-size: cover; margin:0.6%">
                                            </div>
                                        </div>
                                    <% end %>
                                <% end %>
                            </div>
                        </li>
                    </ul>
                    <!-- Afbeeldingen About  -->

                </div>
                <!-- profile-page-sidebar-->

                <div id="rightSection">
                    <% if $show_user.is_walker %>
                        <!-- General Availability Details  -->
                        <div class="col s12 m8">
                            <ul id="profile-page-availability-details" class="collection with-header z-depth-1 hoverable">
                                <li class="collection-header">
                                    <div class="row">
                                        <div class="col s12 grey-text darken-1">
                                            <i class="fa fa-calendar" aria-hidden="true"></i> <%= I18n.t('views.user.generalavailability') %>
                                        </div>
                                    </div>
                                </li>
                                <li class="collection-item">
                                    <div class="row">
                                        <table>
                                            <tr>
                                                <td class="col l2 m2 s2 grey-text darken-1">&zwnj;</td>
                                                <td class="availabilityHeader center grey-text darken-1"><%= I18n.t('views.user.monday') %></td>
                                                <td class="availabilityHeader center grey-text darken-1"><%= I18n.t('views.user.tuesday') %></td>
                                                <td class="availabilityHeader center grey-text darken-1"><%= I18n.t('views.user.wednesday') %></td>
                                                <td class="availabilityHeader center grey-text darken-1"><%= I18n.t('views.user.thursday') %></td>
                                                <td class="availabilityHeader center grey-text darken-1"><%= I18n.t('views.user.friday') %></td>
                                                <td class="availabilityHeader center grey-text darken-1"><%= I18n.t('views.user.saturday') %></td>
                                                <td class="availabilityHeader center grey-text darken-1"><%= I18n.t('views.user.sunday') %></td>
                                            </tr>
                                            <tr>
                                                <td class="col l2 m2 s2 center grey-text darken-1"><%= I18n.t('views.user.morning') %></td>
                                                <% if $show_user.try(:availability).try(:monday_morning) %>
                                                    <td class="availabilityBox grey-text free tooltipped" data-tooltip="<%= I18n.t('views.user.available') %>">&zwnj;</td>
                                                <% else %>
                                                    <td class="availabilityBox grey-text notfree tooltipped" data-tooltip="<%= I18n.t('views.user.notavailable') %>">&zwnj;</td>
                                                <% end %>
                                                <% if $show_user.try(:availability).try(:tuesday_morning) %>
                                                    <td class="availabilityBox grey-text free tooltipped" data-tooltip="<%= I18n.t('views.user.available') %>">&zwnj;</td>
                                                <% else %>
                                                    <td class="availabilityBox grey-text notfree tooltipped" data-tooltip="<%= I18n.t('views.user.notavailable') %>">&zwnj;</td>
                                                <% end %>
                                                <% if $show_user.try(:availability).try(:wednesday_morning) %>
                                                    <td class="availabilityBox grey-text free tooltipped" data-tooltip="<%= I18n.t('views.user.available') %>">&zwnj;</td>
                                                <% else %>
                                                    <td class="availabilityBox grey-text notfree tooltipped" data-tooltip="<%= I18n.t('views.user.notavailable') %>">&zwnj;</td>
                                                <% end %>
                                                <% if $show_user.try(:availability).try(:thursday_morning) %>
                                                    <td class="availabilityBox grey-text free tooltipped" data-tooltip="<%= I18n.t('views.user.available') %>">&zwnj;</td>
                                                <% else %>
                                                    <td class="availabilityBox grey-text notfree tooltipped" data-tooltip="<%= I18n.t('views.user.notavailable') %>">&zwnj;</td>
                                                <% end %>
                                                <% if $show_user.try(:availability).try(:friday_morning) %>
                                                    <td class="availabilityBox grey-text free tooltipped" data-tooltip="<%= I18n.t('views.user.available') %>">&zwnj;</td>
                                                <% else %>
                                                    <td class="availabilityBox grey-text notfree tooltipped" data-tooltip="<%= I18n.t('views.user.notavailable') %>">&zwnj;</td>
                                                <% end %>
                                                <% if $show_user.try(:availability).try(:saturday_morning) %>
                                                    <td class="availabilityBox grey-text free tooltipped" data-tooltip="<%= I18n.t('views.user.available') %>">&zwnj;</td>
                                                <% else %>
                                                    <td class="availabilityBox grey-text notfree tooltipped" data-tooltip="<%= I18n.t('views.user.notavailable') %>">&zwnj;</td>
                                                <% end %>
                                                <% if $show_user.try(:availability).try(:sunday_morning) %>
                                                    <td class="availabilityBox grey-text free tooltipped" data-tooltip="<%= I18n.t('views.user.available') %>">&zwnj;</td>
                                                <% else %>
                                                    <td class="availabilityBox grey-text notfree tooltipped" data-tooltip="<%= I18n.t('views.user.notavailable') %>">&zwnj;</td>
                                                <% end %>
                                            </tr>
                                            <tr>
                                                <td class="col l2 m2 s2 center grey-text darken-1"><%= I18n.t('views.user.midday') %></td>
                                                <% if $show_user.try(:availability).try(:monday_midday) %>
                                                    <td class="availabilityBox grey-text free tooltipped" data-tooltip="<%= I18n.t('views.user.available') %>">&zwnj;</td>
                                                <% else %>
                                                    <td class="availabilityBox grey-text notfree tooltipped" data-tooltip="<%= I18n.t('views.user.notavailable') %>">&zwnj;</td>
                                                <% end %>
                                                <% if $show_user.try(:availability).try(:tuesday_midday) %>
                                                    <td class="availabilityBox grey-text free tooltipped" data-tooltip="<%= I18n.t('views.user.available') %>">&zwnj;</td>
                                                <% else %>
                                                    <td class="availabilityBox grey-text notfree tooltipped" data-tooltip="<%= I18n.t('views.user.notavailable') %>">&zwnj;</td>
                                                <% end %>
                                                <% if $show_user.try(:availability).try(:wednesday_midday) %>
                                                    <td class="availabilityBox grey-text free tooltipped" data-tooltip="<%= I18n.t('views.user.available') %>">&zwnj;</td>
                                                <% else %>
                                                    <td class="availabilityBox grey-text notfree tooltipped" data-tooltip="<%= I18n.t('views.user.notavailable') %>">&zwnj;</td>
                                                <% end %>
                                                <% if $show_user.try(:availability).try(:thursday_midday) %>
                                                    <td class="availabilityBox grey-text free tooltipped" data-tooltip="<%= I18n.t('views.user.available') %>">&zwnj;</td>
                                                <% else %>
                                                    <td class="availabilityBox grey-text notfree tooltipped" data-tooltip="<%= I18n.t('views.user.notavailable') %>">&zwnj;</td>
                                                <% end %>
                                                <% if $show_user.try(:availability).try(:friday_midday) %>
                                                    <td class="availabilityBox grey-text free tooltipped" data-tooltip="<%= I18n.t('views.user.available') %>">&zwnj;</td>
                                                <% else %>
                                                    <td class="availabilityBox grey-text notfree tooltipped" data-tooltip="<%= I18n.t('views.user.notavailable') %>">&zwnj;</td>
                                                <% end %>
                                                <% if $show_user.try(:availability).try(:saturday_midday) %>
                                                    <td class="availabilityBox grey-text free tooltipped" data-tooltip="<%= I18n.t('views.user.available') %>">&zwnj;</td>
                                                <% else %>
                                                    <td class="availabilityBox grey-text notfree tooltipped" data-tooltip="<%= I18n.t('views.user.notavailable') %>">&zwnj;</td>
                                                <% end %>
                                                <% if $show_user.try(:availability).try(:sunday_midday) %>
                                                    <td class="availabilityBox grey-text free tooltipped" data-tooltip="<%= I18n.t('views.user.available') %>">&zwnj;</td>
                                                <% else %>
                                                    <td class="availabilityBox grey-text notfree tooltipped" data-tooltip="<%= I18n.t('views.user.notavailable') %>">&zwnj;</td>
                                                <% end %>
                                            </tr>
                                            <tr>
                                                <td class="col l2 m2 s2 center grey-text darken-1"><%= I18n.t('views.user.evening') %></td>
                                                <% if $show_user.try(:availability).try(:monday_evening) %>
                                                    <td class="availabilityBox grey-text free tooltipped" data-tooltip="<%= I18n.t('views.user.available') %>">&zwnj;</td>
                                                <% else %>
                                                    <td class="availabilityBox grey-text notfree tooltipped" data-tooltip="<%= I18n.t('views.user.notavailable') %>">&zwnj;</td>
                                                <% end %>
                                                <% if $show_user.try(:availability).try(:tuesday_evening) %>
                                                    <td class="availabilityBox grey-text free tooltipped" data-tooltip="<%= I18n.t('views.user.available') %>">&zwnj;</td>
                                                <% else %>
                                                    <td class="availabilityBox grey-text notfree tooltipped" data-tooltip="<%= I18n.t('views.user.notavailable') %>">&zwnj;</td>
                                                <% end %>
                                                <% if $show_user.try(:availability).try(:wednesday_evening) %>
                                                    <td class="availabilityBox grey-text free tooltipped" data-tooltip="<%= I18n.t('views.user.available') %>">&zwnj;</td>
                                                <% else %>
                                                    <td class="availabilityBox grey-text notfree tooltipped" data-tooltip="<%= I18n.t('views.user.notavailable') %>">&zwnj;</td>
                                                <% end %>
                                                <% if $show_user.try(:availability).try(:thursday_evening) %>
                                                    <td class="availabilityBox grey-text free tooltipped" data-tooltip="<%= I18n.t('views.user.available') %>">&zwnj;</td>
                                                <% else %>
                                                    <td class="availabilityBox grey-text notfree tooltipped" data-tooltip="<%= I18n.t('views.user.notavailable') %>">&zwnj;</td>
                                                <% end %>
                                                <% if $show_user.try(:availability).try(:friday_evening) %>
                                                    <td class="availabilityBox grey-text free tooltipped" data-tooltip="<%= I18n.t('views.user.available') %>">&zwnj;</td>
                                                <% else %>
                                                    <td class="availabilityBox grey-text notfree tooltipped" data-tooltip="<%= I18n.t('views.user.notavailable') %>">&zwnj;</td>
                                                <% end %>
                                                <% if $show_user.try(:availability).try(:saturday_evening) %>
                                                    <td class="availabilityBox grey-text free tooltipped" data-tooltip="<%= I18n.t('views.user.available') %>">&zwnj;</td>
                                                <% else %>
                                                    <td class="availabilityBox grey-text notfree tooltipped" data-tooltip="<%= I18n.t('views.user.notavailable') %>">&zwnj;</td>
                                                <% end %>
                                                <% if $show_user.try(:availability).try(:sunday_evening) %>
                                                    <td class="availabilityBox grey-text free tooltipped" data-tooltip="<%= I18n.t('views.user.available') %>">&zwnj;</td>
                                                <% else %>
                                                    <td class="availabilityBox grey-text notfree tooltipped" data-tooltip="<%= I18n.t('views.user.notavailable') %>">&zwnj;</td>
                                                <% end %>
                                            </tr>
                                        </table>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!--/ General Availability Details  -->
                    <% end %>

                    <div id="wallpostSection">
                        <%= render template: "wallpost/index", :url => index_wallpost_path %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--end container-->
</section>
<!-- END CONTENT -->
<!-- TODO: request api-key specifically for Leash -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAAZnaZBXLqNBRXjd-82km_NO7GUItyKek"></script>
<script type="text/javascript">
    ShowGeoLocation();

    var showMaps = document.getElementsByClassName("showProfileDetails");
    for (var i = 0; i < showMaps.length; i++) {
        showMaps[i].addEventListener('click', showGoogleMaps, false);
    }
    var hideMaps = document.getElementsByClassName("HideGoogleMapsTitle");
    for (var i = 0; i < hideMaps.length; i++) {
        hideMaps[i].addEventListener('click', hideGoogleMaps, false);
    }

    function showGoogleMaps() {
        var map = document.getElementById('GoogleMapsDiv');
        map.style.display = 'inline';
        setTimeout(ShowGeoLocation, 10);

    }

    function hideGoogleMaps() {
        var map = document.getElementById('GoogleMapsDiv');
        map.style.display = 'none';
    }

    function ShowGeoLocation() {
        var street = "<%= $show_user.address.try(:street) %>" + "";
        var city = "<%= $show_user.address.try(:city).try(:name) %>" + "";
        var country = "<%= $show_user.address.try(:country).try(:name) %>" + "";
        var address = street + ', ' + city + ', ' + country;
        if (address === "0, 0, 0") {
            address = "Brussel, Belgium";
        }
        var geocoder = new google.maps.Geocoder();

        if(document.getElementById('map-canvas') != undefined)
        {
            var map = new google.maps.Map(document.getElementById('map-canvas'), {
                zoom: 13,
                center: { lat: 51.309553, lng: 3.132350 },
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                mapTypeControl: false,
                scrollwheel: true,
                draggable: true,
                zoomControl: true,
                zoomControlOptions: {
                    position: google.maps.ControlPosition.RIGHT_TOP
                },
                streetViewControl: false,
                styles: [{ "featureType": "landscape.natural", "elementType": "geometry.fill", "stylers": [{ "visibility": "on" }, { "color": "#e0efef" }] }, { "featureType": "poi", "elementType": "geometry.fill", "stylers": [{ "visibility": "on" }, { "hue": "#1900ff" }, { "color": "#c0e8e8" }] }, { "featureType": "road", "elementType": "geometry", "stylers": [{ "lightness": 100 }, { "visibility": "simplified" }] }, { "featureType": "road", "elementType": "labels", "stylers": [{ "visibility": "off" }] }, { "featureType": "transit.line", "elementType": "geometry", "stylers": [{ "visibility": "on" }, { "lightness": 700 }] }, { "featureType": "water", "elementType": "all", "stylers": [{ "color": "#7dcdcd" }] }],
                mapTypeControlOptions: { style: google.maps.MapTypeControlStyle.DROPDOWN_MENU },
                navigationControl: false,
                navigationControlOptions: { style: google.maps.NavigationControlStyle.SMALL }
            });

            geocodeAddress(address, geocoder, map);
        }

        if(document.getElementById('map-canvas-small') != undefined)
        {
            var smallMap = new google.maps.Map(document.getElementById('map-canvas-small'), {
                zoom: 13,
                center: { lat: 51.309553, lng: 3.132350 },
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                mapTypeControl: false,
                scrollwheel: true,
                draggable: true,
                zoomControl: true,
                zoomControlOptions: {
                    position: google.maps.ControlPosition.RIGHT_TOP
                },
                streetViewControl: false,
                styles: [{ "featureType": "landscape.natural", "elementType": "geometry.fill", "stylers": [{ "visibility": "on" }, { "color": "#e0efef" }] }, { "featureType": "poi", "elementType": "geometry.fill", "stylers": [{ "visibility": "on" }, { "hue": "#1900ff" }, { "color": "#c0e8e8" }] }, { "featureType": "road", "elementType": "geometry", "stylers": [{ "lightness": 100 }, { "visibility": "simplified" }] }, { "featureType": "road", "elementType": "labels", "stylers": [{ "visibility": "off" }] }, { "featureType": "transit.line", "elementType": "geometry", "stylers": [{ "visibility": "on" }, { "lightness": 700 }] }, { "featureType": "water", "elementType": "all", "stylers": [{ "color": "#7dcdcd" }] }],
                mapTypeControlOptions: { style: google.maps.MapTypeControlStyle.DROPDOWN_MENU },
                navigationControl: false,
                navigationControlOptions: { style: google.maps.NavigationControlStyle.SMALL }
            });

            geocodeAddress(address, geocoder, smallMap);
        }
    };


    function geocodeAddress(address, geocoder, resultsMap) {
        geocoder.geocode({ 'address': address }, function (results, status) {
            if (status === google.maps.GeocoderStatus.OK) {
                resultsMap.setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker({
                    map: resultsMap,
                    position: results[0].geometry.location
                });
            } else {
                alert('Geocode was not successful for the following reason: ' + status);
            }
        })
    };
</script>