<% if $show_user.id != current_user.id %>
	<% if !current_user.is_premium %>
		<% if current_user.connections.count >= 1 %>
			<% if !current_user.connections.include?($show_user) %>
				<div class="center-align" style="position: absolute; top: 10px; right:10px; border-radius: 20px; width: auto; height: 37px; background-color:white; color:#36373B; z-index: 1; line-height:37px; margin-right: 2px;padding-left:20px; padding-right: 45px; box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); cursor:default;">
					<%= I18n.t('views.user.show.becomepremium') %>
                </div>
				<div style="position: absolute; top: 10px; right:10px;">
					<a class="btn-floating waves-effect waves-light grey lighten-1 right hide-on-large-only" style="margin: 0px !important;">
						<i class="mdi-content-add"></i>
                    </a>
					<a class="btn-floating waves-effect waves-light grey lighten-1 right hide-on-med-and-down">
						<i class="mdi-content-add"></i>
                    </a>
                </div>
            <% end %>
        <% else %>
			<% if current_user.pending_connections.include?($show_user) %>
				<div class="center-align" style="position: absolute; top: 10px; right:10px; border-radius: 20px; width: auto; height: 37px; background-color:white; color:#36373B; z-index: 1; line-height:37px; margin-right: 2px;padding-left:20px; padding-right: 45px; box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); cursor:default;">
					An invitation with this user is pending.
                </div>
                <div style="position: absolute; top: 10px; right:10px;">
					<a class="btn-floating waves-effect waves-light grey lighten-1 right hide-on-large-only" style="margin: 0px !important;">
						<i class="mdi-content-add"></i>
                    </a>
					<a class="btn-floating waves-effect waves-light grey lighten-1 right hide-on-med-and-down">
						<i class="mdi-content-add"></i>
                    </a>
                </div>
            <% elsif !current_user.connections.include?($show_user) %>
				<div class="hide-on-large-only" style="position: absolute; top: 10px; right:10px;">
					<%= link_to send_invitation_path($show_user), :class => 'btn-floating waves-effect waves-light darken-2 right', :style => 'margin: 0px !important;' do %>
						<i class="mdi-content-add"></i>
                    <% end %>
                </div>
				<div class="hide-on-med-and-down" style="position: absolute; top: 10px; right:10px;">
					<%= link_to send_invitation_path($show_user), :class => 'btn-floating waves-effect waves-light darken-2 right', :remote => true do %>
						<i class="mdi-content-add"></i>
                    <% end %>
                </div>
            <% end %>
        <% end %>
    <% else %>
		<% if !current_user.connections.include?($show_user) %>
			<div class="hide-on-large-only" style="position: absolute; top: 10px; right:10px;">
				<%= link_to send_invitation_path($show_user), :class => 'btn-floating waves-effect waves-light darken-2 right', :style => 'margin: 0px !important;' do %>
					<i class="mdi-content-add"></i>
                <% end %>
            </div>
			<div class="hide-on-med-and-down" style="position: absolute; top: 10px; right:10px;">
				<%= link_to send_invitation_path($show_user), :class => 'btn-floating waves-effect waves-light darken-2 right', :remote => true do %>
					<i class="mdi-content-add"></i>
                <% end %>
            </div>
        <% end %>
    <% end %>
<% end %>