<% @pending_connections.each do |conn| %>
	<div class="col s6 m4 l3">
	    <div class="card z-depth-1 hoverable">
	        <%= link_to conn do %>
		        <div class="card-image waves-effect waves-block waves-light slider" style="max-height:20vh;">
		            <div style="height:100%; width:auto;">
		                <div class="card-image waves-effect waves-block waves-light" style="background:url(<%= load_user_avatar(conn) %>) no-repeat center center; background-size: cover; height:100%;">
		                </div>
		            </div>

		        </div>
	        <% end %>


	        <div class="card-content" style="position:relative">
				<%= link_to conn, :class => 'btn-floating waves-effect waves-light darken-2 right', :style => 'margin-top: -40px !important;float: left !important;' do %>
					<% if @pending_outgoing_connections.include?(conn) %>
						<i class="fa fa-arrow-circle-o-up" aria-hidden="true"></i>
					<% elsif @pending_incoming_connections.include?(conn) %>
						<i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i>
					<% end %>
				<% end %>
	            <div class="moreInfoIcon activator card-title"><i class="material-icons right">more_vert</i></div>
	            <span class="card-title activator grey-text text-darken-4 truncate" style="font-size:1.6em;"><%= conn.firstname + ' ' + conn.lastname %></span>
	            <% if @pending_outgoing_connections.include?(conn) %>
	            	<p class="truncate">Your invitation has not yet been accepted.</p>
	            <% elsif @pending_incoming_connections.include?(conn) %>
	            	<p class="truncate">You have not yet accepted the invitation.</p>
	            <% end %>
	        </div>

	        <div class="card-reveal">
	            <div class="closingIcon activator card-title"><i class="material-icons right">close</i></div>
	            <span class="card-title grey-text text-darken-4" style="font-size:1.3em;"><%= conn.firstname + ' ' + conn.lastname %></span>

	            <p class="hide-on-med-and-up" style="margin-top:0px; margin-bottom:0px;">
	                <i class="material-icons" style="color:#ffc107; font-size:1.3em;">star star star star_half star_border</i>
	            </p>
	            <p class="hide-on-small-only" style="margin-top:-8px">
	                <% if conn.is_premium %>
	                	<i style="line-height:24px;">Premium user</i>
	                <% end %>
	                <i class="material-icons" style="color:#ffc107; margin-top:10px;">star star star star_half star_border</i>
	            </p>

	            <% if @pending_outgoing_connections.include?(conn) %>
					<p class="hide-on-med-and-up" style="margin-top:0px">
	            		<i>Your invitation has not yet been accepted.</i>
	            	</p>
					<p class="hide-on-small-only">
	            		<i>Your invitation has not yet been accepted.</i>
	            	</p>
	            <% elsif @pending_incoming_connections.include?(conn) %>
					<p class="hide-on-med-and-up" style="margin-top:0px">
	            		<i>You have not yet accepted the invitation.</i>
	            	</p>
					<p class="hide-on-small-only">
	            		<i>You have not yet accepted the invitation.</i>
	            	</p>
	            <% end %>

	            <p class="connectionInfo hide-on-small-only">
	                <i><%= conn.address.try(:city).name %></i><br />
	                <%= link_to conn, :class => "secondary-content" do %>
	                	<i class="material-icons">view_headline</i>
	                <% end %>
	                <strong>Distance: 0.23 km</strong>
	                <% if current_user.id == @show_user.id %>
		                <br />
		                <% if @pending_outgoing_connections.include?(conn) %>
		                	<%= link_to "Retract invitation", {:controller => :user_relation, :action => 'destroy', :id => conn.id }, :method => :delete, :onclick => "javascript:disableWithdrawLinks(#{conn.id}", :id => "WithdrawLink#{conn.id}", :remote => true %>
		                	<label id="<%= 'RetractingLabel' + conn.id.to_s %>" class="hide" style="font-size: 14px !important; margin-left:-10px;">Retracting...</label>
		                <% elsif @pending_incoming_connections.include?(conn) %>
		                	<%= link_to "Accept", accept_invitation_path(conn), :onclick => "javascript:disableAcceptanceLinks(#{conn.id}, 'Accept')", :id => "AcceptLink#{conn.id}", :remote => true %>
		                	<span style="margin-right:10px;"></span>
		                	<%= link_to "Refuse", {:controller => :user_relation, :action => 'destroy', :id => conn.id }, :method => :delete, :onclick => "javascript:disableAcceptanceLinks(#{conn.id}, 'Reject')", :id => "RejectLink#{conn.id}", :remote => true %>
		                	<label id="<%= 'AcceptingLabel' + conn.id.to_s %>" class="hide" style="font-size: 14px !important; margin-left:-10px;">Accepting...</label>
		                	<label id="<%= 'RejectingLabel' + conn.id.to_s %>" class="hide" style="font-size: 14px !important; margin-left:-10px;">Refusing...</label>
		                <% end %>
	                <% end %>
	            </p>
	            <p class="connectionInfoSmall hide-on-med-and-up center-align">
	                <% if current_user.id == @show_user.id %>
		                <% if @pending_outgoing_connections.include?(conn) %>
		                	<%= link_to "Withdraw", {:controller => :user_relation, :action => 'destroy', :id => conn.id }, :method => :delete, :class => "waves-effect waves-light btn", :onclick => "javascript:disableWithdrawButton(#{conn.id})", :id => "WithdrawButton#{conn.id}", :remote => true %>
		                	<label id="<%= 'WithdrawButtonLabel' + conn.id.to_s %>" class="waves-effect waves-light btn disabled hide">Withdrawing...</label>
		                <% elsif @pending_incoming_connections.include?(conn) %>
		                	<%= link_to "Accept", accept_invitation_path(conn), :class => "waves-effect waves-light btn", :style => "margin-bottom:5px;", :remote => true, :onclick => "javascript:disableAcceptanceButtons(#{conn.id}, 'Accept')", :id => "AcceptButton#{conn.id}" %>

		                	<%= link_to "Refuse", {:controller => :user_relation, :action => 'destroy', :id => conn.id }, :method => :delete, :class => "waves-effect waves-light btn", :id => "RejectButton#{conn.id}", :onclick => "javascript:disableAcceptanceButtons(#{conn.id}, 'Reject')", :remote => true %>
		                	<label id="<%= 'AcceptingButtonLabel' + conn.id.to_s %>" class="waves-effect waves-light btn disabled hide" style="font-size:14px; margin-bottom:5px;">Accepting...</label>
		                	<label id="<%= 'AcceptButtonLabel' + conn.id.to_s %>" class="waves-effect waves-light btn disabled hide" style="font-size:14px; margin-bottom:5px;">Accept</label>
		                	<label id="<%= 'RejectingButtonLabel' + conn.id.to_s %>" class="waves-effect waves-light btn disabled hide" style="font-size:14px;">Refusing...</label>
		                	<label id="<%= 'RejectButtonLabel' + conn.id.to_s %>" class="waves-effect waves-light btn disabled hide" style="font-size:14px;">Refuse</label>
		                <% end %>
	                <% end %>
	            </p>
	        </div>
	    </div>
	</div>
<% end %>

<script type="text/javascript">
	function disableAcceptanceLinks(connId, acceptOrReject)
	{
		if(acceptOrReject == 'Accept')
		{
			addClass(document.getElementById('AcceptLink' + connId), 'hide');
			addClass(document.getElementById('RejectLink' + connId), 'hide');
			removeClass(document.getElementById('AcceptingLabel' + connId), 'hide');
			addClass(document.getElementById('RejectingLabel' + connId), 'hide');
		}
		else
		{
			if(window.confirm("Are you sure you wish to refuse this invitation?"))
			{
				addClass(document.getElementById('AcceptLink' + connId), 'hide');
				addClass(document.getElementById('RejectLink' + connId), 'hide');
				removeClass(document.getElementById('RejectingLabel' + connId), 'hide');
				addClass(document.getElementById('AcceptingLabel' + connId), 'hide');
			}
			else
			{
				cancelEvent(window.event);
			}
		}
	}
	function enableAcceptanceLinks(connId)
	{
		if($('#AcceptLink' + connId).length > 0)
			removeClass(document.getElementById('AcceptLink' + connId), 'hide');
		if($('#RejectLink' + connId).length > 0)
			removeClass(document.getElementById('RejectLink' + connId), 'hide');
		if($('#AcceptingLabel' + connId).length > 0)
			addClass(document.getElementById('AcceptingLabel' + connId), 'hide');
		if($('#RejectingLabel' + connId).length > 0)
			addClass(document.getElementById('RejectingLabel' + connId), 'hide');
	}

	function disableAcceptanceButtons(connId, acceptOrReject)
	{
		if(acceptOrReject == 'Accept')
		{
			addClass(document.getElementById('AcceptButton' + connId), 'hide');
			addClass(document.getElementById('RejectButton' + connId), 'hide');
			removeClass(document.getElementById('AcceptingButtonLabel' + connId), 'hide');
			removeClass(document.getElementById('RejectButtonLabel' + connId), 'hide');
			addClass(document.getElementById('AcceptButtonLabel' + connId), 'hide');
			addClass(document.getElementById('RejectingButtonLabel' + connId), 'hide');
		}else{
			if(window.confirm("Are you sure you wish to refuse this invitation?"))
			{
				addClass(document.getElementById('AcceptButton' + connId), 'hide');
				addClass(document.getElementById('RejectButton' + connId), 'hide');
				addClass(document.getElementById('AcceptingButtonLabel' + connId), 'hide');
				addClass(document.getElementById('RejectButtonLabel' + connId), 'hide');
				removeClass(document.getElementById('AcceptButtonLabel' + connId), 'hide');
				removeClass(document.getElementById('RejectingButtonLabel' + connId), 'hide');
			}
			else
			{
				cancelEvent(window.event);
			}
		}
	}

	function enableAcceptanceButtons(connId)
	{

		if($('#AcceptButton' + connId).length > 0)
			removeClass(document.getElementById('AcceptButton' + connId), 'hide');
		if($('#RejectButton' + connId).length > 0)
			removeClass(document.getElementById('RejectButton' + connId), 'hide');
		if($('#AcceptingButtonLabel' + connId).length > 0)
			addClass(document.getElementById('AcceptingButtonLabel' + connId), 'hide');
		if($('#RejectingButtonLabel' + connId).length > 0)
			addClass(document.getElementById('RejectingButtonLabel' + connId), 'hide');
		if($('#AcceptButtonLabel' + connId).length > 0)
			addClass(document.getElementById('AcceptButtonLabel' + connId), 'hide');
		if($('#RejectButtonLabel' + connId).length > 0)
			addClass(document.getElementById('RejectButtonLabel' + connId), 'hide');
	}

	function disableWithdrawLinks(connId)
	{
		if(window.confirm("Are you sure you wish to withdraw this invitation?"))
		{
			addClass(document.getElementById('WithdrawLink' + connId), 'hide');
			removeClass(document.getElementById('RetractingLabel' + connId), 'hide');
		}
		else{
			cancelEvent(window.event);
		}
	}

	function enableWithdrawLinks(connId)
	{
		removeClass(document.getElementById('WithdrawLink' + connId), 'hide');
		addClass(document.getElementById('RetractingLabel' + connId), 'hide');
	}

	function disableWithdrawButton(connId)
	{
		if(window.confirm("Are you sure you wish to withdraw this invitation?"))
		{
			addClass(document.getElementById('WithdrawButton' + connId), 'hide');
			removeClass(document.getElementById('WithdrawButtonLabel' + connId), 'hide');
		}
		else{
			cancelEvent(window.event);
		}
	}

	function enableWithdrawButton(connId)
	{
		removeClass(document.getElementById('WithdrawButton' + connId), 'hide');
		addClass(document.getElementById('WithdrawButtonLabel' + connId), 'hide');
	}

	function cancelEvent(event)
	{
		event.preventDefault();
		event.stopPropagation();
		window.event.cancelBubble = true;
		return false;
	}

	function addClass(el, className) {
	  	if (el.classList)
	    	el.classList.add(className)
	  	else if (!hasClass(el, className)) el.className += " " + className
	}

	function removeClass(el, className) {
	  	if (el.classList)
	    	el.classList.remove(className)
	  	else if (hasClass(el, className)) {
	    	var reg = new RegExp('(\\s|^)' + className + '(\\s|$)')
	    	el.className=el.className.replace(reg, ' ')
	  }
	}
</script>