<%= stylesheet_link_tag "application", params[:controller], :media => "all" %>
    
        <div class="parallax-container">
            <div class="parallax">
                <img src="assets/bench-sea-sunny-man.jpg">
            </div>
            <div class="parallax-header">
                <h1><%= I18n.t('views.home.index.header1') %></h1>
                <hr>
                <h1><%= I18n.t('views.home.index.header2') %></h1>
            </div>
        </div>
        <div class="section white homePageContent">
            <div class="row container center-align">
              <h2 class="header"><%= I18n.t('views.home.index.descriptionheader') %></h2>
                <hr>
              <p class="grey-text text-darken-3 lighten-3"><%= I18n.t('views.home.index.descriptionline1') %> <br />
              <%= I18n.t('views.home.index.descriptionline2') %>
              <br />
              <br />
              <%= I18n.t('views.home.index.descriptionline3') %>
              <br />
              <%= I18n.t('views.home.index.descriptionline4') %>
              </p>
              <br />
              <br />
                <span class="center-align">
                    <% if logged_in? %>
                        <%= link_to I18n.t('views.home.index.getstarted'), users_path, :class => "btn waves-effect waves-light col s2 offset-s5" %>
                    <% else %>
                        <%= link_to I18n.t('views.home.index.getstarted'), login_path, :class => "btn waves-effect waves-light col s2 offset-s5" %>
                    <% end %> 
                </span>
            </div>
            <br />
        </div>
        <div class="parallax-container">
            <div class="parallax">
                <img src="assets/light-person-woman-night - small.jpg">
            </div>
        </div>


                    
             
