<h1> NEW DOG</h1>

<%= form_for :animal, :url => create_dog_path do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <%= f.fields_for :dog do |d| %>  
        <p>
          <%= d.label :breed %><br />
          <%= d.text_field :breed %>
        </p>
    <% end %>


    <p>
      <%= f.submit %>
    </p>

<% end %>