<!-- profile-page-wall-share -->
<div id="profile-page-wall-share" class="row">
    <div class="col s12">
        <ul class="tabs tab-profile z-depth-1 light-blue">
            <li class="tab col s3">
                <a class="white-text waves-effect waves-light active" href="#UploadPhoto"><i class="mdi-editor-border-color"></i> Upload photo</a>
            </li>
            <% if @current_album.nil? %>
                <li class="tab col s3">
                    <a class="white-text waves-effect waves-light" href="#CreatePhotoAlbum"><i class="mdi-image-camera-alt"></i> Create album</a>
                </li>
            <% end %>
        </ul>
        <!-- Upload Photo-->
        <div id="UploadPhoto" class="tab-content col s12  grey lighten-4">
            <%= form_for(:picture, :url => create_picture_path, :remote => true, :html => { :id => 'picture_form' }) do |pic| %>
            <div class="input-field col s12">
                <div class="file-field input-field" style="margin-top: 0;">
                    <div class="btn" style="display:inline-block; float:right;">
                        <span>...</span>
                        <%= pic.file_field :picture, :accept => "image/png,image/gif,image/jpeg" %>
                    </div>
                    <div class="file-path-wrapper">
                        <input id="upload_picture" class="file-path validate" type="text">
                        <label for="upload_picture" class="">Select the photo to upload.</label>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-left:10px; margin-right:5px; margin-bottom: 5px">
                <div class="input-field col m6 s12" id="preferencefield">
                    <% if @current_album.nil? %>
                        <%= pic.select :photoalbum, options_for_select(@photoalbums.collect {|album| [ translate_photoalbum(album.name), album.id ]}), :id => "photoalbum_id" %>
                        <label for="photoalbum_id" class="active" style="top: 10px;"><%= I18n.t('views.images.selectalbum') %></label>
                    <% else %>
                        <%= pic.hidden_field :photoalbum, :value => @current_album.id %>
                        <%= pic.hidden_field :existingAlbum, :value => 1 %>
                        <label id="photoalbum_id"><%= translate_photoalbum(@current_album.name) %></label>
                        <label for="photoalbum_id" class="active" style="top: 10px;"><%= I18n.t('views.images.selectcurrentalbum') %></label>
                    <% end %>
                </div>
            </div>

            <div class="col s12 m6 offset-m6">
                <div id="PostMessageButton" class="right-align">
                    <i class="waves-effect waves-light btn btnProfilePost waves-input-wrapper" style="">
                        <input type="submit" name="commit" value="Upload" id="sendWallPost" class="waves-button-input">
                    </i>
                </div>
            </div>
            <% end %>
        </div>

        <!-- Create album -->
        <% if @current_album.nil? %>
            <div id="CreatePhotoAlbum" class="tab-content col s12  grey lighten-4">
                <%= form_for(:photoalbum, :url => create_photoalbum_path, :remote => true, :html => { :id => 'album_form' }) do |album| %>
    	            <%= hidden_field_tag "authenticity_token", form_authenticity_token %>
    	            <%= album.hidden_field :user_id, :value => current_user.id %>
    	            <div class="input-field col s12">
    	                <%= album.text_field :name %>
    	                <label for="message" class="">Give your new album a name.</label>
    	            </div>
    	            <div class="col s12 m6 offset-m6">
    	                <div id="PostMessageButton" class="right-align">
    	                    <i class="waves-effect waves-light btn btnProfilePost waves-input-wrapper" style="">
    	                        <input type="submit" name="commit" value="Create" id="createPhotoalbum" class="waves-button-input">
    	                    </i>
    	                </div>
    	            </div>
                <% end %>
            </div>
        <% end %>
    </div>
</div>
<!--/ profile-page-wall-share -->