<% if !@edit_picture.nil? %>
	<div id="updatePicture" class="tab-content col s12  grey lighten-4" style="padding-left:2em; padding-right:2em; padding-top:0.5em; display:none; margin-left:0px;margin-right:0px; ">
        <%= form_for(@edit_picture, :url => update_picture_path, :remote => true, :html => { :id => 'edit_album_form', :onkeypress => "return event.keyCode != 13;" }) do |pic| %>
            <%= pic.hidden_field :id, :value => @edit_picture.id %>
            <div class="col s12 m6">
                <div class="input-field col s12" id="preferencefield" style="margin-top:15px">
                	<% if @current_album.nil? %>
                        <%= pic.select :photoalbum, options_for_select(@photoalbums.collect {|album| [ translate_photoalbum(album.name), album.id ]}), :id => "photoalbum_id" %>
                        <label for="photoalbum_id" class="active" style="top: 10px;"><%= I18n.t('views.images.selectalbum') %></label>
                    <% elsif GetAlbumName(@edit_picture.photoalbum_id) == 'No Album' %>
                        <%= pic.select :photoalbum, options_for_select(@photoalbums.collect {|album| [ translate_photoalbum(album.name), album.id ]}), :id => "photoalbum_id" %>
                        <label for="photoalbum_id" class="active" style="top: 10px;"><%= I18n.t('views.images.selectalbum') %></label>
                    <% else %>
                        <!--<%= pic.select :photoalbum, options_for_select(@photoalbums.collect {|album| [ translate_photoalbum(album.name), album.id ]}, :selected => @edit_picture.try(:photoalbum_id)), {}, :disabled => true, :id => "photoalbum_id" %>
                        <label for="photoalbum_id" class="active" style="top: 10px;"><%= I18n.t('views.images.selectcurrentalbum') %></label>
                    	<%= pic.hidden_field :photoalbum, :value => @current_album.id %>
                        <%= pic.hidden_field :existingAlbum, :value => 1 %> -->
                        <%= pic.select :photoalbum, options_for_select(@photoalbums.collect {|album| [ translate_photoalbum(album.name), album.id ]}, :selected => @edit_picture.try(:photoalbum_id)), :id => "photoalbum_id" %>
                        <label for="photoalbum_id" class="active" style="top: 10px;"><%= I18n.t('views.images.selectalbum') %></label>
                    <% end %>
                </div>
                <div class="input-field col s12" id="preferencefield" style="margin-top:30px">
                	<%= pic.text_area :comment, :class => 'materialize-textarea', :length => '255', :maxlength => '255', :style => 'padding-top:0.5em' %>
                	<% if !@edit_picture.try(:comment).blank? %>
                   		<label for="photoalbum_description" class="active">Add some comments to your new picture.</label>
                    <% else %>
                   		<label for="photoalbum_description">Add some comments to your new picture.</label>
                    <% end %>
                </div>
            </div>

            <div class="col s12 m6" id="preferencefield">
                <div class="input-field col s12" style="margin-top:15px">
                    <%= pic.select :visibility_id, options_for_select(Visibility.all.collect {|vis| [ translate_visibility(vis.value), vis.id ]}, :selected => @edit_picture.try(:visibility_id)), {}, :disabled => true, :id => "visibility_id" %>
                    <label for="visibility_id" class="active" style="top: 10px;"><%= I18n.t('views.images.selectvisibilitypicture') %></label>
                </div>
            	<div class="input-field col s12" style="margin-top:27px">
                	<div class="chips editPhotoChips">
                    </div>
                </div>
            </div>

        	<div class="col s12 m6 offset-m6">
            	<div id="PostMessageButton" class="right-align">
                	<i class="waves-effect waves-light btn btnProfilePost waves-input-wrapper" style="">
                    	<input type="submit" name="commit" value="Save" id="updatePicture" class="waves-button-input">
                    </i>
                  	<a href="javascript:ShowHideEditPicture(false)" class="waves-effect waves-light btn btnProfilePost waves-input-wrapper" style="">Cancel</a>
                </div>
        	</div>
    	<% end %>
	</div>
<% end %>