<div class="row">
    <% if !@photoswithoutalbum.nil? %>
        <% @photoswithoutalbum.each do |photo| %>
            <div class="col s6 m4 l3">
                <%= link_to picture_path(photo) do %>
                    <div class="card z-depth-1 hoverable">
                        <div class="card-image waves-effect waves-block waves-light slider" style="max-height:20vh;">
                            <div style="height:100%; width:auto;">
                                <div class="card-image waves-effect waves-block waves-light" style="background:url(<%= photo.url %>) no-repeat center center; background-size: cover; height:100%"></div>
                            </div>
                        </div>
                <% end %>
                        <div class="card-content">
                            <div class="moreInfoIcon activator card-title"><i class="material-icons right">more_vert</i></div>
                            <p class="truncate activator" style="cursor: pointer;"><%= photo.created_at.to_formatted_s(:long_ordinal) %></p>
                        </div>
                            <div class="card-reveal">
                                <div class="closingIcon activator card-title"><i class="material-icons right">close</i></div>
                                <p class="truncate activator card-title" style="cursor: pointer; font-size:1em;margin-bottom:0"><%= photo.created_at.to_formatted_s(:long_ordinal) %></p>
                                <% if current_user.id == @show_user.id %>
                                    <p class="smallCardHeader">
                                        <% if photo.visibility.value == 'Public' %>
                                            <i class="fa fa-unlock" aria-hidden="true"></i>
                                        <% elsif photo.visibility.value == 'Connections' %>
                                            <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                                        <% else %>
                                            <i class="fa fa-lock" aria-hidden="true"></i>
                                        <% end %>
                                        <%= translate_visibility(photo.visibility.value) %>
                                    </p>
                                <% end %>
                                <p><%= photo.comment %></p>
                                <p class="userInfo">
                                    <%= link_to picture_path(photo) do %>
                                        <span>Show</span>
                                    <% end %>
                                    <% if current_user.id == @show_user.id %>
                                        <span style="margin-right:10px;"></span>
                                        <%= link_to "Edit", edit_picture_path(photo), :onclick => "document.body.scrollTop = document.documentElement.scrollTop = 0;", :remote => true %>
                                        <span style="margin-right:10px;"></span>
                                        <%= link_to "Delete", {:controller => :picture, :action => 'destroy', :id => photo.id }, :method => :delete, data: { confirm: "Are you sure?" }, :remote => true %>
                                    <% end %>
                                </p>
                            </div>
                    </div>
            </div>
        <% end %>
    <% end %>

    <% if !@show_user.nil? %>
        <% if current_user.id == @show_user.id %>
            <a href="#" onclick="javascript:ShowHideUploadPhoto(true)">
                <div class="col s6 m4 l3">
                    <div class="card z-depth-1 hoverable">
                        <div class="card-image waves-effect waves-block waves-light"  style="max-height:20vh; height:400px;" >
                            <div style="height:100%; width:auto;">
                                <div class="card-image waves-effect waves-block waves-light bigplus-button">
                                </div>
                            </div>
                        </div>
                        <div class="card-content">
                            <p class="truncate">Foto toevoegen</p>
                        </div>
                    </div>
                </div>
            </a>
        <% end %>
    <% end %>
</div>