<%= stylesheet_link_tag "application", params[:controller], :media => "all" %>
<%= stylesheet_link_tag "users", params[:controller], :media => "all" %>
<%= stylesheet_link_tag "images", params[:controller], :media => "all" %>

<!-- START CONTENT -->
<section id="content" >
    <!--start container-->
    <div class="container">

		<!-- Showing alerts  -->
		<% if @showModal %>
			<script type="text/javascript">
				Materialize.toast('<p style="word-wrap: break-word;"><%= flash.alert %></p>', 10000);
			</script>
		<% end %>
        <!-- End Showing alerts  -->
        
        <div id="photoNoAlbumList">
            <%= render template: "images/index_list_photos" %>
		</div>

		
                <!-- Add new photo/album -->
                <div class="row">
                    <div class="col s12 m12">
                    	<% if !@show_user.nil? %>
	                    	<% if current_user.id == @show_user.id %>
		                        <span id="AddAlbumOrPhoto">
		                        	<%= render "images/index_upload_section" %>
		                        </span>
	                        <% end %>
                        <% end %>
                    </div>
                </div>
                <!-- End Add new photo/album -->
    </div>
    <!--end container-->
</section>