
    <ul id="dropdown2" class="dropdown-content">
      <li><a href="#!">Dogs</a></li>
      <li><a href="#!">Dog walkers</a></li>
      <li class="divider"></li>
      <li><a href="#!">Routes</a></li>
    </ul>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <% if logged_in? %>
            <a href="#!" data-activates="sideNavMenu" class="brand-logo hide-on-med-and-down">Leash<i class="material-icons left">menu</i></a>
            <a href="#!" data-activates="sideNavMenu" class="brand-logo hide-on-large-only">Leash</a>
            <a href="#" data-activates="sideNavMenu" class="button-collapse"><i class="material-icons" style="margin-left: 15px;">menu</i></a>
          <% else %>
            <%= link_to "Leash", root_path, :class => 'brand-logo hide-on-med-and-down',  data: {activates: "sideNavMenu"} %>
            <%= link_to "Leash", root_path, :class => 'brand-logo hide-on-large-only',  data: {activates: "sideNavMenu"} %>
            <a href="#" data-activates="sideNavMenu" class="button-collapse"><i class="material-icons" style="margin-left: 15px;">menu</i></a>
          <% end %> 

        <ul class="right hide-on-med-and-down">

           <% if logged_in? %>
            <li>
              <%= link_to settings_path, :style => "line-height: 50px;" do %>
                <i class="fa fa-comments-o fa-2 col s2 circle responsive-img valign" aria-hidden="true"></i>
              <% end %>
            </li>
            <li>
              <%= link_to settings_path do %>
                <img class="col s2 circle responsive-img valign accountPicture" style="background: url(<%= user_avatar() %>) 50% 50% no-repeat; width: 35px; height: 35px; background-size:cover;" />
              <% end %>
            </li>
           <% else %>
            <li>
              <%= link_to login_path do %>
                <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" alt="" class="circle accountPicture" />
              <% end %>
            </li>
           <% end %> 

        </ul>
        <ul class="side-nav collapsible" id="sideNavMenu"  data-collapsible="accordion">
            <% if logged_in? %>
              <% unless @hideHome %>
                <li>
                  <%= link_to overview_path, :class => 'no-padding collapsible-header' do %>
                    Home<i class="material-icons left">home</i>
                  <% end %>
                </li>
                <li class="divider"/>
              <% end %>
              <li>
                <%= link_to settings_path, :class => 'no-padding collapsible-header' do %>
                  Mijn Profiel<i class="material-icons left">settings</i>
                <% end %>
              </li>
              <li>
                <%= link_to settings_path, :class => 'no-padding collapsible-header' do %>
                  <i class="fa fa-calendar material-icons" aria-hidden="true"></i>Agenda
                <% end %>
              </li>
              <li>
                <%= link_to settings_path, :class => 'no-padding collapsible-header' do %>
                  <i class="fa fa-map-marker material-icons" aria-hidden="true"></i>Routes
                <% end %>
              </li>
              <li>
                <%= link_to settings_path, :class => 'no-padding collapsible-header' do %>
                  <i class="mdi-image-camera-alt material-icons"></i>Foto's
                <% end %>
              </li>
              <li class="no-padding">
              <ul class="collapsible collapsible-accordion">
              <li>
              <a class="collapsible-header"><i class="fa fa-paw material-icons" aria-hidden="true"></i>Honden</a>
              <div class="collapsible-body">
                <ul>
                <li><a href="#!">Blacky</a></li>
                <li><a href="#!">Zara</a></li>
                <li><a href="#!">Doggy</a></li>
                </ul>
              </div>
              </li>
            <% else %>
              <li><%= link_to "Sign In", login_path %></li>
              <li><%= link_to "Sign Up", signup_path %></li>
            <% end %> 
          </ul>
          </li>
        
  
          <li class="divider"/>
          <li class="bottom left" style="
            position: absolute;
            bottom: 64px;
            width: 100%;
          ">
           <%= link_to "Afmelden", logout_path, :style => "line-height:35px; height:35px;" %>
          </li>
          <li class="bottom left" style="
            position: absolute;
            bottom: 100px;
            width: 100%;
          ">
           <%= link_to "Algemene voorwaarden", settings_path, :style => "line-height:35px; height:35px;" %>
          </li>
          <li class="bottom left" style="
            position: absolute;
            bottom: 135px;
            width: 100%;
          ">
           <%= link_to "Instellingen", settings_path, :style => "line-height:35px; height:35px;" %>
          </li>
          <li class="bottom left" style="
            position: absolute;
            bottom: 170px;
            width: 100%;
          ">
           <%= link_to "Help", settings_path, :style => "line-height:35px; height:35px;" %>
          </li>
        </ul>
        </div>
      </nav>
    </div>