    <ul id="dropdownMenu" class="dropdown-content">
      <% if current_language().to_s.exclude? "nl" %>
        <li class="liFlag">
          <%= link_to params.merge({:locale => :nl}), :class => "languageFlagLink" do %>
            <img src="<%= asset_url("/assets/flags/blank.png") %>" class="flag flag-be" alt="Belgium" /><span style="margin-left:15px">nl</span>
          <% end %>
        </li>
      <% end %>
      <% if current_language().to_s.exclude? "en" %>
        <li class="liFlag">
          <%= link_to params.merge({:locale => :en}), :class => "languageFlagLink" do %>
            <img src="<%= asset_url("/assets/flags/blank.png") %>" class="flag flag-gb" alt="United Kingdom" /><span style="margin-left:15px">en</span>
          <% end %>
        </li>
      <% end %>
    </ul>

    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <% if logged_in? %>
            <a href="#!" data-activates="sideNavMenu" class="brand-logo hide-on-med-and-down"><span style="float:right;">Leash</span><i class="material-icons left">menu</i></a>
            <a href="#!" data-activates="sideNavMenu" class="brand-logo hide-on-large-only"><span style="float:right;">Leash</span></a>
            <a href="#" data-activates="sideNavMenu" class="button-collapse"><i class="material-icons" style="margin-left: 15px;">menu</i></a>
            <div class="searchBar hide-on-med-and-down">
              <form>
                <div class="input-field">
                  <input id="search" type="search" required placeholder="Postcode of Plaats">
                  <label for="search" style="margin-top:-16px;"><i class="material-icons">search</i></label>
                  <i class="material-icons" style="margin-top:-16px;">close</i>
                </div>
              </form>
            </div>
          <% else %>
            <%= link_to "Leash", root_path, :class => 'brand-logo hide-on-med-and-down',  data: {activates: "sideNavMenu"} %>
            <%= link_to "Leash", root_path, :class => 'brand-logo hide-on-large-only',  data: {activates: "sideNavMenu"} %>
            <a href="#" data-activates="sideNavMenu" class="button-collapse"><i class="material-icons" style="margin-left: 15px;">menu</i></a>
          <% end %>
        <ul class="right hide-on-med-and-down">

           <% if logged_in? %>
            <li>
              <%= link_to root_messaging_path, :style => "line-height: 50px;" do %>
                <i class="fa fa-comments-o fa-2 col s2 circle responsive-img valign" aria-hidden="true"></i>
                <span id="unreadMessageMarker">
                  <%= render "layouts/showNavUnreadMessages" %>
                </span>
              <% end %>
            </li>
            <li>
              <%= link_to settings_path do %>
                <img class="col s2 circle responsive-img valign accountPicture" style="background: url(<%= user_avatar() %>) 50% 50% no-repeat; width: 35px; height: 35px; background-size:cover; display:inline-block;" />
              <% end %>
            </li>
           <% else %>
            <li>
              <%= link_to how_and_why_path do %>
                How and why?
              <% end %></li>
            <li>
              <%= link_to pricing_path do %>
                Pricing
              <% end %>
            </li>
            <li>
              <%= link_to about_us_path do %>
                About us
              <% end %>
            </li>
            <li>
              <%= link_to contact_us_path do %>
                Contact
              <% end %>
            </li>

            <li>
              <%= link_to login_path do %>
                <img src="<%= user_avatar() %>" alt="" class="circle accountPicture" />
              <% end %>
            </li>
           <% end %>
          <li style="border-left-width: 2px; border-left-style: solid; border-left-color: #36373B; margin-top: 5px; height: 54px;">
            <a class="dropdown-button" href="#!" data-activates="dropdownMenu" style="line-height: 54px; font-size:1.2em;">
              <%= current_language() %>
            </a>
          </li>

        </ul>
        <div class="side-nav collapsible" id="sideNavMenu">
         <div id="nav_sidebar_wrapper">
          <ul style="min-height:324px; overflow-y: auto;"  data-collapsible="accordion">
            <% if logged_in? %>
              <li style="height:64px;">
                <a class="no-padding collapsible-header" style="text-align: center;"><span style="font-size: 2.1rem; letter-spacing:4px; color: #FF5B45;">Leash</span>
                </a>
              </li>
              <li class="divider" />
                <li>
                  <%= link_to overview_path, :class => 'no-padding collapsible-header' do %>
                    <i class="fa fa-home material-icons" aria-hidden="true"></i><%= I18n.t('views.layout.nav.home') %>
                  <% end %>
                </li>
                <!--<li class="divider"/>-->
              <li>
                <%= link_to settings_path, :class => 'no-padding collapsible-header' do %>
                  <i class="fa fa-cog material-icons" aria-hidden="true"></i><%= I18n.t('views.layout.nav.profile') %>
                <% end %>
              </li>
              <li>
                <%= link_to settings_path, :class => 'no-padding collapsible-header' do %>
                  <i class="fa fa-calendar material-icons" aria-hidden="true"></i><%= I18n.t('views.layout.nav.agenda') %>
                <% end %>
              </li>
              <li>
                <%= link_to settings_path, :class => 'no-padding collapsible-header' do %>
                  <i class="fa fa-map-marker material-icons" aria-hidden="true"></i><%= I18n.t('views.layout.nav.routes') %>
                <% end %>
              </li>
              <li>
                <%= link_to images_path, :class => 'no-padding collapsible-header' do %>
                  <i class="fa fa-camera material-icons"></i><%= I18n.t('views.layout.nav.photos') %>
                <% end %>
              </li>
              <li>
                <%= link_to root_messaging_path, :class => 'no-padding collapsible-header' do %>
                  <i class="fa fa-comments-o fa-2 material-icons"></i><%= I18n.t('views.layout.nav.messages') %>
                <% end %>
              </li>
              <li class="no-padding">
                <ul>
                  <li>
                    <a class="collapsible-header"><i class="fa fa-paw material-icons" aria-hidden="true"></i><%= I18n.t('views.layout.nav.dogs') %></a>
                    <div class="collapsible-body">
                      <ul>
                        <li><a href="#!" class="navDogName">Blacky</a></li>
                        <li><a href="#!" class="navDogName">Zara</a></li>
                        <li><a href="#!" class="navDogName">Doggy</a></li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </li>
            <% else %>
              <li><%= link_to I18n.t('views.layout.nav.signin'), login_path %></li>
              <li><%= link_to I18n.t('views.layout.nav.signup'), signup_path %></li>
            <% end %>
          </ul>
          <% if logged_in? %>
            <div id="nav_sidebar_bottomSettings">
              <ul>
                <li class="divider"/>
                <li class="bottom left">
                  <%= link_to settings_path do %>
                    <%= I18n.t('views.layout.nav.help') %>
                  <% end %>
                </li>
                <li class="bottom left">
                  <%= link_to edit_settings_path do %>
                    <%= I18n.t('views.layout.nav.settings') %>
                  <% end %>
                </li>
                <li class="bottom left">
                  <%= link_to "#termsModel", :class => "modal-trigger" do %>
                    <%= I18n.t('views.layout.nav.terms') %>
                  <% end %>
                </li>
                <li class="bottom left">
                  <%= link_to logout_path do %>
                    <%= I18n.t('views.layout.nav.logoff') %>
                  <% end %>
                </li>
                <li class="divider hide-on-large-only"/>
                <li class="bottom left hide-on-large-only">
                  <% if current_language().to_s.exclude? "nl" %>
                      <%= link_to params.merge({:locale => :nl}) do %>
                         <img src="<%= asset_url("/assets/flags/blank.png") %>" class="flag flag-be" alt="Belgium" /><span style="margin-left: 10px;">nl</span>
                      <% end %>
                  <% end %>
                  <% if current_language().to_s.exclude? "en" %>
                      <%= link_to params.merge({:locale => :en}) do %>
                        <img src="<%= asset_url("/assets/flags/blank.png") %>" class="flag flag-gb" alt="United Kingdom" /><span style="margin-left: 10px;">en</span>
                      <% end %>
                  <% end %>
                </li>
              </ul>
             </div>
            <% else %>
            <div id="nav_sidebar_bottomSettings_notloggedin">
              <ul>
                <li class="divider hide-on-large-only"/>
              <li class="hide-on-large-only"><%= link_to 'How and why?', how_and_why_path%></li>
              <li class="hide-on-large-only"><%= link_to 'Pricing', pricing_path%></li>
              <li class="hide-on-large-only"><%= link_to 'About us', about_us_path%></li>
              <li class="hide-on-large-only"><%= link_to 'Contact', contact_us_path%></li>
                <li class="divider hide-on-large-only"/>
                <li class="bottom left hide-on-large-only">
                  <% if current_language().to_s.exclude? "nl" %>
                      <%= link_to params.merge({:locale => :nl}) do %>
                         <img src="<%= asset_url("/assets/flags/blank.png") %>" class="flag flag-be" alt="Belgium" /><span style="margin-left: 10px;">nl</span>
                      <% end %>
                  <% end %>
                  <% if current_language().to_s.exclude? "en" %>
                      <%= link_to params.merge({:locale => :en}) do %>
                        <img src="<%= asset_url("/assets/flags/blank.png") %>" class="flag flag-gb" alt="United Kingdom" /><span style="margin-left: 10px;">en</span>
                      <% end %>
                  <% end %>
                </li>
              </ul>
             </div>
            <% end %>
          </div>
         </div>
        </div>
      </nav>
    </div>


    <!-- termsOfAgreement-section -->
      <%= render "layouts/terms" %>
