<!DOCTYPE html>
<html>
<head>
  <title>Leash</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Bootstrap 3-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body data-no-turbolink="true">

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <% if logged_in? %>
                  <%= link_to $title.capitalize, users_path, :class => "navbar-brand" %>
                <% else %>
                  <%= link_to $title.capitalize, home_root_path, :class => "navbar-brand" %>
                <% end %> 
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                     <% if logged_in? %>
			          <li>
			          	<%= link_to "Sign Out (#{current_user.firstname} #{current_user.lastname})", logout_path %>
			      	  </li>
			        <% else %>
			          <li>
			           <%= link_to "Sign In", login_path %>
			      	  </li>
			      	  <li>
			      	  	<%= link_to "Sign Up", signup_path %>
			      	  </li>
			        <% end %>
                </ul>
            </div>
        </div>
    </nav>



    <%= yield %>
</body>
</html>